<h1>Información del paciente</h1>
<h1><%= to_name_i(@insured.patient	) %></h1>
<div class="row">
	<div class="col-md-4">
		<div class="jumbotron">
			<div class="container">
				<h4>Nueva autorización</h4>
				<%= form_tag(confirm_admission_path, method: 'post', role: 'post') do %>
					<%= hidden_field_tag :patient_id, @insured.patient.id %>
					<div class="form-group">
						<%= select_tag :authorization_type_id, options_from_collection_for_select(AuthorizationType.all, :id, :name), class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= text_field_tag :code, '', class: 'form-control' %>
					</div>					
					<%= submit_tag 'Crear nueva autorización', class: 'btn btn-success' %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-8"></div>		
</div>

<ul>
	<li>DNI : 
	<% if @insured.patient.document_identity_code == '               ' or @insured.patient.document_identity_code == '' %>
		No ha sido ingresado su dni, <%= link_to '¿Desea ingresarlo?', insert_dni_path(id: @insured.id) %>
	<% else %>
		<%= @insured.patient.document_identity_code %>
	<% end %>
	</li>
	<li>Titular : <%= to_name_h(@insured) %></li>
	<li>Parentezco con el titular : <%= @insured.relation_ship.name %></li>
	<li>Aseguradora : <%= @insured.insurance.name %></li>
	<li>Contratista : <%= @insured.company.name %></li>
	<li>Sexo : <%= @insured.patient.sex %></li>
	<li>Edad : <%= age(@insured.patient.birthday) %> años </li>
	<li>Fecha de Nacimiento : <%= @insured.patient.birthday %></li>



	<H2>Entradas a la clínica</H2>
	<div>
	<ul>
		<% @insured.patient.authorizations.order(date: :desc).each do |a| %>
			<li>Código de autorización : <%= link_to a.code, show_authorization_path(id: a.id) %></li>
			<li>Fecha de autorización : <%= a.date %></li>
			<li>
			<fieldset>
			<h3>Coberturas</h3>
			<% if a.coverage.nil? %>
				No existe cobertura
			<% else %>
				<ul>
					<li>Tipo de Cobertura : <%= a.coverage.sub_coverage_type.name %></li>
					<% if a.money.nil? %>
					<li>No ha sido ingresado el tipo de moneda</li>
					<% else %>
					<li>Copago fijo : <%= a.coverage.cop_fijo %> <%= a.money.name %></li>
					<% end %>
					<li>Copago variable : <%= a.coverage.cop_var %> %</li>
				</ul>
			<% end %>
			<br>		
			</fieldset>
			</li>
			<br>
			<br>
			<br>
	<% end %>
		</ul>
</ul>
