<h1>Información del paciente</h1>
<h1><%= to_name_i(@insured.patient	) %></h1>

<ul>
	<li>DNI : 
	<% if @insured.patient.document_identity_code == '               ' or @insured.patient.document_identity_code == '' %>
		No ha sido ingresado su dni, <%= link_to '¿Desea ingresarlo?', insert_dni_path(id: @insured.id) %>
	<% else %>
		<%= @insured.patient.document_identity_code %>
	<% end %>
	</li>
	<li>Titular : <%= to_name_h(@insured) %></li>
	<li>Parentezco con el titular : <%= @insured.relation_ship.name %></li>
	<li>Aseguradora : <%= @insured.insurance.name %></li>
	<li>Contratista : <%= @insured.company.name %></li>
	<li>Sexo : <%= @insured.patient.sex %></li>
	<li>Edad : <%= age(@insured.patient.birthday) %> años </li>
	<li>Fecha de Nacimiento : <%= @insured.patient.birthday %></li>

	<H2>Entradas a la clínica</H2>
	<ul>
		<% @insured.patient.authorizations.order(date: :desc).each do |a| %>
			<li>Código de autorización : <%= link_to a.code, show_authorization_path(id: a.id) %></li>
			<li>Fecha de autorización : <%= a.date %></li>
			<li>
			<fieldset>
			<h3>Coberturas</h3>
				<ul>
					<li>Tipo de Cobertura : <%= a.coverage.sub_coverage_type.name %></li>
					<li>Copago fijo : <%= a.coverage.cop_fijo %> <%= a.money.name %></li>
					<li>Copago variable : <%= a.coverage.cop_var %> %</li>
				</ul>
			<br>		
			</fieldset>
			</li>
			<br>
			<br>
			<br>
	<% end %>
		</ul>
</ul>