<% @pay_document.authorization.insured_services.each do |i| %>
<% if i.purchase_insured_services.exists? %>
<% i.purchase_insured_services.each do |p| %>					
<div class="form-group">
	<strong>Venta de servicio</strong>
	<% if p.is_facturated %>
	<div class="row">
		<% if DetailService.where(index: p.id, purchase_code: 'S').exists? %>
		<%= form_tag(delete_detail_service_path, method: 'post', role: 'form', remote: true) do %>
		<div class="col-md-6">			
			<%= label_tag :code, p.service.code %>
			<%= label_tag :service, p.service.name %>
			<%= label_tag :amount, p.initial_amount %>
			<%= hidden_field_tag :benefit_id, @pay_document.benefit.id %>
			<%= hidden_field_tag :detail_service_id, DetailService.where(index: p.id).last.id %>
		</div>
		<div class="col-md-5">
			<%= select_tag :doctor_id,options_for_select(@doctors,p.insured_service.doctor_id), class: 'form-control' %>
		</div>									
		<div class="col-md-1">
			<%= submit_tag 'Quitar de '+ DetailService.where(index: p.id,purchase_code: 'S').last.benefit.pay_document.code[7,5], class: 'btn btn-danger' %>
		</div>
		<% end %>
		<% else %>
		<div class="col-md-11">
			<h3>Error : el medicamento figura como facturado</h3>
		</div>
		<div class="col-md-1">			
			<%= form_tag(fix_service_path, method: 'post', role: 'form') do %>
			<%= hidden_field_tag :purchase_insured_service_id, p.id %>
			<%= hidden_field_tag :pay_document_id, @pay_document.id %>
			<%= submit_tag 'Corregir', class: 'btn btn-warning'  %>
			<% end %>
		</div>
		<% end %>
	</div>
	<% else %>
	<%= form_tag(add_detail_service_path, method: 'post', role: 'form', remote: true) do %>
	<div class="row">
		<div class="col-md-6">
		<% unless p.service.nil? %>
			<%= label_tag :service, p.service.name %>
		<% end %>
			<%= label_tag :amount, p.initial_amount %>
			<%= hidden_field_tag :benefit_id, @pay_document.benefit.id %>
			<%= hidden_field_tag :detail_service_id, p.id %>
		</div>
		<div class="col-md-5">
			<%= select_tag :doctor_id,options_for_select(@doctors,p.insured_service.doctor_id), class: 'form-control' %>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-11">
			<%= text_field_tag :observation, '', { class: 'form-control', placeholder: 'Ingrese información relevante'} %>
		</div>
		<div class="col-md-1">
			<%= submit_tag 'Agregar', class: 'btn btn-success text-center' %>
		</div>
	</div>									
	<% end %>
	
	
	<% end %>
</div>
<% end %>
<% else %>
No existen gastos por servicios.
<% end %>
<% end %>