- if @pay_document.authorization.has_consultation == true
  .form-group
    - @pay_document.authorization.insured_services.each do |i|
      - if i.is_consultation
        - if !i.purchase_coverage_service.is_facturated
          = label_tag :doctor, i.doctor.complet_name
          = form_tag(add_detail_coverage_path, method: 'post', remote: true) do
            .row
              = hidden_field_tag :benefit_id, @pay_document.benefit.id
              = hidden_field_tag :detail_service_id, i.purchase_coverage_service.id
              .col-md-11
                = label_tag :purchase, 'Asistencia de consulta'
              .col-md-1
            .row
              .col-md-11
                = text_field_tag :observation, '', { class: 'form-control', placeholder: 'Ingrese información relevante'}
              .col-md-1
                = submit_tag 'Agregar' , class: 'btn btn-success text-center'
        - else
          = form_tag(delete_detail_coverage_path, method: 'post', remote: true) do
            .row
              = hidden_field_tag :benefit_id, @pay_document.benefit.id
              = hidden_field_tag :detail_service_id, DetailService.where(index: i.purchase_coverage_service.id).last.id
              .col-md-6= label_tag :purchase, 'Asistencia de consulta'
              .col-md-5
              .col-md-1= submit_tag 'Quitar de '+ DetailService.where(index: i.purchase_coverage_service.id, purchase_code: 'C').last.benefit.pay_document.code[7,5], class: 'btn btn-danger'
- else
  .form-group
    No existen gastos por cobertura.
