<% if @pay_document.authorization.insured_pharmacies.exists? %>
						<% @pay_document.authorization.insured_pharmacies.each do |i| %>
							<% if i.purchase_insured_pharmacies.exists? %>
								<% i.purchase_insured_pharmacies.each do |p| %>						
									<div class="form-group">
										
										
										<% if p.digemid_product.nil? %>
											<%= p.name %>
										<% else %>
											<%= p.digemid_product.name %>
										<% end %>
										
										<%= p.final_amount %>
										<% if !p.is_facturated %>
											<%= form_tag(add_detail_pharmacy_path, method: 'post') do %>
												<div class="row">
													<%= hidden_field_tag :benefit_id, @pay_document.benefit.id %>
													<%= hidden_field_tag :detail_pharmacy_id, p.id %>
													<div class="col-md-6"><%= link_to 'Venta de producto Farmacéutico ' + p.product_pharm_exented.name + " " + p.liquidation, new_pharmacy_ready_path(id_pharm: p.insured_pharmacy.id) %></div>
													<div class="col-md-5"><%= select_tag :product_pharm_type_id, options_for_select(@product_pharm_types, p.product_pharm_type_id), class: 'form-control' %></div>
													<div class="col-md-1"></div>
												</div>
												<div class="row">
													<div class="col-md-11">
														<%= text_field_tag :observation, '', { class: 'form-control', placeholder: 'Ingrese información relevante'} %>
													</div>
													<div class="col-md-1">
														<%= submit_tag 'Agregar', class: 'btn btn-success text-center' %>
													</div>
												</div>
											<% end %>
										<% else %>
											<%= form_tag(delete_detail_pharmacy_path, method: 'post') do %>
												<div class="row">
													<%= hidden_field_tag :benefit_id, @pay_document.benefit.id %>
													<%= hidden_field_tag :detail_pharmacy_id, DetailPharmacy.where(index: p.id).first.id %>
													<div class="col-md-6"><%= link_to 'Venta de producto Farmacéutico ' + p.product_pharm_exented.name + " " + p.liquidation, new_pharmacy_ready_path(id_pharm: p.insured_pharmacy.id) %>
														<%= DetailPharmacy.find_by_index(p.id).type_code %>
													</div>
													<div class="col-md-5"></div>
													<div class="col-md-1"><%= submit_tag 'Quitar de '+ DetailPharmacy.where(index: p.id).last.benefit.pay_document.code[7,5], class: 'btn btn-danger'  %></div>
												</div>
											<% end %>
										<% end %>
									</div>	
								<% end %>
							<% end %>						
						<% end %>
					<% else %>
						<div class="form-group">
							No existen gatos por productos farmacéuticos.
						</div>
					<% end %>
