<% @pay_document.authorization.insured_services.each do |i| %>
<% if i.purchase_insured_services.exists? %>
<% i.purchase_insured_services.each do |purchase| %>					
<div class="form-group">
	<strong>Venta de servicio</strong>
	<div class="row">
		<% if purchase.is_facturated %>
		<% if DetailService.where(index: purchase.id, purchase_code: 'S').exists? %>
		<div id="form_delete_service_<%= purchase.id %>">
			<%= render 'partials/form_delete_service', purchase: purchase, doctors: @doctors, pay_document: @pay_document %>			
		</div>
		<% else %>
		<div class="col-md-11">
			<h3>Error : el medicamen</h3>
			<div class="col-md-1">
				<%= form_tag(fix_service_path, method: 'post', role: 'form') do %>
				<%= hidden_field_tag :purchase_insured_service_id, purchase.id %>
				<%= hidden_field_tag :pay_document_id, @pay_document.id %>
				<%= submit_tag 'Corregir', class: 'btn btn-warning'  %>
				<% end %>
			</div>
		</div>
		<% end %>
		<% else %>
		<div id="form_add_service_<%= purchase.id %>">
			<%= render 'partials/form_add_service', purchase: purchase, doctors: @doctors, pay_document: @pay_document %>
		</div>
		<% end %>
	</div>
</div>
<% end %>
<% else %>
No existen gastos por servicios.
<% end %>
<% end %>