<div class="table-responsive">
<table class="table  table-striped">
	<thead>
		<tr>
			<td>#</td>
			<td>Número de Factura</td>
			<td>Autorización</td>
			<td>Razón social</td>			
			<td>RUC</td>
			<td>Dirección</td>
			<td>Paciente</td>
			<td>Titular</td>
			<td>Empresa</td>
			<td>Número de orden</td>
			<td>Fecha de emisión</td>
			<td>Usuario</td>
		</tr>
	</thead>
	<tbody>
	<% @pay_documents.each do |p| %>
		<% if p.pay_document_group == 0 or p.pay_document_group.nil? %>
			<tr class="warning">
		<% else %>
			<tr class="success">
		<% end %>
			<td><%= p.id %></td>
			<td><%= link_to p.code, ready_principal_facturation_path(pay_document_id: p.id) %></td>
			<td><%= link_to p.authorization.code, show_authorization_path(id: p.authorization.id) %></td>
			<td><%= p.authorization.patient.insured.insurance.name %></td>
			<td><%= p.authorization.patient.insured.insurance.ruc %></td>
			<% unless p.benefit.nil? %>
			<% if p.benefit.date.nil? %>
			<td>ERROR!</td>
			<% else %>
			<td></td>
			<% end %>
			<% end %>			
			<td><%= link_to to_name_i(p.authorization.patient), show_insured_path(id: p.authorization.patient.id) %></td>
			<td><%= to_name_h(p.authorization.patient.insured) %></td>
			<% unless p.authorization.patient.insured.company.nil? %>
			<td><%= p.authorization.patient.insured.company.name %></td>
			<% else %>
			<td> No se puede mostrar</td>
			<% end %>
			<td><%= p.authorization.code %></td>
			<td><%= p.emission_date %></td>
			<td><%= p.employee.username unless p.employee.nil? %></td>
		</tr>
	<% end %>
	</tbody>
</table>
</div>
<br>
<center><%= will_paginate @pay_documents, renderer: BootstrapPagination::Rails %></center>
