<%= hidden_field_tag :id, @pay_document.id %>
<div class="form-group">
	<%= label_tag :status, 'Estado : ' %>
	<%= select_tag :status, options_for_select(@statuses.invert, @pay_document.status), class: 'form-control'  %>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :insurance_code, 'Código de la IAFAS : ' %>
			<%= label_tag  @pay_document.insurance_code  %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :authorization_code, 'Número de autorización : ' %>
			<%= label_tag  @pay_document.authorization.code %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :clinic_ruc, 'Ruc de la clínica (por SUNAT) : ' %>
			<%= label_tag  @pay_document.clinic_ruc  %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :clinic_code, 'Código de la clínica (por SUNASA) : ' %>
			<%= label_tag  @pay_document.clinic_code  %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :insurance, 'Selecciona la aseguradora : ' %>
			<%= select_tag :insurance, options_for_select(@insurances, @pay_document.insurance_ruc), {prompt: 'Selecciona la empresa aseguradora : ',	 class: 'form-control'}  %>
		</div>
	</div>
	<div class="col-md-6">
		<% if @pay_document.social.nil? %>
		<div class="form-group">
			<%= label_tag :social, 'Razón social : ' %>
			<%= text_field_tag :social, @pay_document.authorization.patient.insured.insurance.name , {placeholder: 'Razón social', class: 'form-control'} %>
		</div>
		<% else %>
		<div class="form-group">
			<%= label_tag :social, 'Razón social de aseguradora : ' %>
			<%= text_field_tag :social, @pay_document.social, {placeholder: 'Razón social', class: 'form-control', disabled: true}  %>
		</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :insurance_ruc, 'Ruc de Aseguradora : ' %>
			<%= text_field_tag :insurance_ruc, @pay_document.insurance_ruc, {placeholder: 'Ruc de Aseguradora', class: 'form-control', disabled: true}  %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :direction, 'Dirección de la aseguradora : ' %>
			<%= text_field_tag :direction,  @pay_document.direction, {placeholder: 'Dirección de Aseguradora', class: 'form-control', disabled: true} %>
		</div>
	</div>
</div>
<div class="form-group">
	<%= label_tag :type, 'Tipo de documento de pago : ' %>
	<%= label_tag  @pay_document.pay_document_type.name %>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :code, 'Número del documento de pago : ' %>
			<%= text_field_tag :code, @pay_document.code , {placeholder: 'Número de factura', class: 'form-control'}  %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :emission_date, 'Fecha de emisón : ' %>
			<%= date_field_tag :emission_date, @pay_document.emission_date, {placeholder: 'Fecha de la factura', class: 'form-control'}  %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag :indicator_global_id, 'Indicador Global' %>
			<%= select_tag :indicator_global_id, options_for_select(@indicator_globals, 1),  class: 'form-control'  %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<%= label_tag  'Producto Rimac : ' %>
			<%= select_tag :product_code, options_for_select(@products, @pay_document.product_code) , class: 'form-control' %>
		</div>
	</div>
</div>