<div class="row">
	<div class="col-md-4">
		<div class="jumbotron">
			<div class="container">
				<div class="list-group">
					<%= render 'links_facturation', site: '4' %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="jumbotron">
			<div class="container">
				<h3 class="text-center">Servicios y productos asignados a la factura</h3>
				<h4>Tabla de servicios asignados</h4>
				<table class="table">
					<thead>
						<tr>
							<td>Código</td>
							<td>Nombre</td>
							<td>Médico</td>
							<td>Cantidad</td>
							<td>Unitario</td>
							<td>Monto</td>
							<td>Copago</td>
							<td>Correlativo</td>
						</tr>
						
					</thead>
					<tbody>
						<% @detail_services.each do |d| %>
						<tr>
							<td><%= d.service_code  + ' ' + d.id.to_s%></td>
							<% if d.service_code == '50.01.01' or d.service_code == '50.02.03' or d.service_code == '50.02.06' %>
							<td><%= link_to Service.where(code: d.service_code).last.name, ready_coverage_path(id: PurchaseCoverageService.find(d.index).insured_service.id) %></td>
							<% else %>
							<td><%= link_to Service.where(code: d.service_code).last.name, new_sales_ready_path(id_sale: PurchaseInsuredService.find(d.index).insured_service.id) %></td>
							<% end %>
							<td><% PurchaseInsuredService.find(d.index).insured_service.doctor.complet_name  %></td>
							<td><%= d.quantity %></td>
							<td><%= d.unitary.round(2) %></td>
							<td><%= d.amount %></td>
							<td><%= d.copayment %></td>
							<td><%= d.correlative %></td>
						</tr>							
						<% end %>						
					</tbody>
				</table>

				<h4>Tabla de productos asignados</h4>
				<table class="table">
					<thead>
						<tr>
							<td>Código</td>
							<td>Nombre</td>
							<td>Monto</td>
							<td>Copago</td>
							<td>Correlativo</td>
						</tr>
						
					</thead>
					<tbody>
						<% @detail_pharmacies.each do |d| %>
						<tr>							
							<% if d.digemid_code == ' '*6 %>
							<td>000</td>
							<td><%= PurchaseInsuredPharmacy.where(id: d.index).first.name %></td>
							<% else %>
							<td><%= d.digemid_code %> <%= d.id %></td>
							<td><%= DigemidProduct.where(code: d.digemid_code).last.name %></td>
							<% end %>
							<td><%= d.amount %></td>
							<td><%= d.copayment %></td>
							<td><%= d.correlative %></td>
						</tr>							
						<% end %>						
					</tbody>
				</table>
				<% if @pay_document.is_closed %>
				<%= form_tag(close_facture_path, method: 'post') do %>
				<%= hidden_field_tag :pay_document_id, @pay_document.id %>
				<%= submit_tag 'Recalcular Factura', class: 'btn btn-success' %>
				<% end %>
				<% else %>
				<%= form_tag(close_facture_path, method: 'post') do %>
				<%= hidden_field_tag :pay_document_id, @pay_document.id %>
				<%= submit_tag 'Cerrar Factura', class: 'btn btn-success' %>
				<% end %>
				<% end %>
				<br>
				<div class="row">
					<div class="container">
						<div class="col-md-4">
							<%= form_tag(update_amount_path, method: 'post', role: 'form') do %>
							<%= hidden_field_tag :pay_document_id, @pay_document.id %>
							<div class="form-group">
							<%= label_tag :cop_fijo, 'Copago Fijo' %>
								<%= text_field_tag :cop_fijo, @pay_document.benefit.cop_fijo.to_f, class: 'form-control' %>
							</div>
							<div class="form-group">
							<%= label_tag :cop_fijo, 'Copago Variable' %>
								<%= text_field_tag :cop_var, @pay_document.benefit.cop_var.to_f, class: 'form-control' %>
							</div>
							<%= submit_tag 'Corregir copagos', class: 'btn btn-warning' %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

