<div class="row">
	<div class="col-md-4">
		<div class="jumbotron">
			<div class="container">
				<div class="list-group">
					<%= link_to 'TABLAS DE FACTURACIÓN', '#', class: "list-group-item active"  %>
					<%= link_to 'Sobre la facturación', ready_principal_facturation_path(pay_document_id: @pay_document.id), class: "list-group-item"  %>
					<%= link_to 'Sobre la prestación', ready_benefit_facturation_path(benefit_id: @pay_document.benefit.id), class: "list-group-item"  %>
					<%= link_to 'Asignación de servicios y productos', ready_asign_facturation_path(pay_document_id: @pay_document.id), class: "list-group-item"  %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="jumbotron">
			<div class="container">
				<h3 class="text-center">Información de factura</h3>
				<%= form_tag(update_principal_path, method: 'post', role: 'form') do %>
				<%= hidden_field_tag :id, @pay_document.id %>
					<div class="form-group">
						<%= label_tag :sub_mechanism_pay_type_id, 'Tipo de sub mecanismo de pago' %>
						<%= select_tag :sub_mechanism_pay_type_id, options_for_select(@sub_mechanism_pay_types, @pay_document.sub_mechanism_pay_type_id), class: 'form-control'  %>
					</div>
					<div class="form-group">
						<%= label_tag :pay_document_type_id, 'Tipo de documento de pago' %>
						<%= select_tag :pay_document_type_id, options_for_select(@pay_document_types, @pay_document.pay_document_type_id), class: 'form-control'  %>
					</div>
					<div class="form-group">
						<%= label_tag :indicator_global_id, 'Indicador Global' %>
						<%= select_tag :indicator_global_id, options_for_select(@indicator_globals, @pay_document.indicator_global_id), class: 'form-control'  %>
					</div>
					<div class="form-group">
						<%= label_tag :code, 'Tipo de documento de pago : ' %>
						<%= label_tag  @pay_document.code  %>
					</div>
					<div class="form-group">
						<%= label_tag  'Producto(Sólo en Rimac) : ' %>
						<% if @pay_document.authorization.product.nil? %>
							<%= label_tag  'No aplica' %>
						<% else %>
							<%= label_tag  @pay_document.authorization.product.name %>
						<% end %>						
					</div>
					<div class="form-group">
						<%= label_tag  'Monto Pre Pactado : ' %>
						<%= label_tag  'No aplica' %>
					</div>
					<div class="form-group">
						<%= label_tag  'Fecha de inicio Monto pre pactado : ' %>
						<%= label_tag  'No aplica' %>
					</div>
					<div class="form-group text-center">
					<%= submit_tag 'Guardar Cambios', class: "btn btn-default" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

