<div class="row">
	<div class="col-md-4">
		<div class="jumbotron">
			<div class="container">
				<div class="list-group">
					<%= link_to 'TABLAS DE FACTURACIÓN', '#', class: "list-group-item active"  %>
					<%= link_to 'Sobre la facturación', ready_principal_facturation_path(pay_document_id: @pay_document.id), class: "list-group-item"  %>
					<%= link_to 'Sobre la prestación', ready_benefit_facturation_path(benefit_id: @pay_document.benefit.id), class: "list-group-item"  %>
					<%= link_to 'Asignación de servicios y productos', ready_asign_facturation_path(pay_document_id: @pay_document.id), class: "list-group-item list-group-item-info"  %>
					<%= link_to 'Servicios y productos asignados', ready_asigned_facturation_path(pay_document_id: @pay_document.id), class: "list-group-item"  %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<%= form_tag(asign_all_path, method: 'post', role: 'form') do %>
							<%= hidden_field_tag :benefit_id, @pay_document.benefit.id %>
							<%= submit_tag 'Agregar Todos', class: 'btn btn-primary' %>
						<% end %>
					</div>
					<div class="col-md-4"></div>
				</div>
				<h3 class="text-center">Asignación de servicios y productos</h3>

					<div id="detail_service_procedure">					
						<%= render 'detail_service_procedure' %>
					</div>

					<div id="detail_service_consultation">
						<%= render 'detail_service_consultation' %>
					</div>

					<div id="detail_pharmacy_all">
						<%= render 'detail_pharmacy_all' %>
					</div>
					
			</div>
		</div>
	</div>
</div>

