.print
  .row
    .col-md-4
      .jumbotron
        .container
          .list-group
            = render 'links_facturation', site: '2'
    .col-md-8
      .jumbotron
        .container
          %h3.text-center Información de la autorización
          = form_tag(update_benefit_path, method: 'post', role: 'form') do
            = hidden_field_tag :id, @benefit.id
            %h4 Del paciente
            .row
              .col-md-6
              .col-md-6
            .row
              .col-md-6
                .form-group
                  = label_tag  'Tipo de afiliación : '
                  = select_tag :afiliation_type_code, options_for_select(@afiliation_types , @benefit.afiliation_type_code), class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag  'Nombre Paciente : '
                  = text_field_tag :patient_name, to_name_i(@benefit.pay_document.authorization.patient).upcase, class: 'form-control'
            .row
              .col-md-6
                .form-group
                  = label_tag  'Número de Dni : '
                  = text_field_tag :document_identity_code, @benefit.document_identity_code, class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag  'Código de asegurado : '
                  = text_field_tag :insured_code,  @benefit.pay_document.benefit.insured_code, class: 'form-control'
            .row
              .col-md-6
                .form-group
                  = label_tag :first_authorization_type, 'Tipo de autorización : '
                  = text_field_tag :first_authorization_type, @benefit.first_authorization_type, class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag :first_authorization_number, 'Número de autorización : '
                  = text_field_tag :first_authorization_number, @benefit.first_authorization_number, class: 'form-control'
            .row
              .col-md-6
                .form-group
                  = label_tag  'Compañía : '
                  - if @pay_document.authorization.patient.insured.company.nil?
                    = select_tag  :company_id, options_for_select(@companies), prompt: 'Selecciona la compañía correcta', class: 'form-control'
                  - else
                    = select_tag  :company_id, options_for_select(@companies, @pay_document.authorization.patient.insured.company.id), prompt: 'Selecciona la compañía correcta', class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag :product_code,  'Producto Pacífico : '
                  = text_field_tag :product_code, @benefit.pay_document.authorization.product_code.to_s, class: 'form-control'
            .form-group
              = label_tag  'Nombre Profesional : '
              = label_tag  @benefit.pay_document.authorization.doctor.complet_name
            .row
              .col-md-6
                .form-group
                  = label_tag  'Dni Profesional : '
                  = text_field_tag :professional_identity_code, @benefit.professional_identity_code, class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag  'Código de colegiatura : '
                  = text_field_tag :tuition_code, @benefit.tuition_code, class: 'form-control'
            .form-group
              = label_tag  'Número de Historia Clínica : '
              = label_tag  @benefit.clinic_history_code
            %h4 De las autorizaciones
            .row
              .col-md-6
                .form-group
                  = label_tag  'Tipo de documento adjunto : '
                  = select_tag  :document_type_id, options_for_select(@document_types, @benefit.document_type_id), prompt: 'Selecciona el tipo de documento adjunto', class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag  'Código de documento adjunto : '
                  = text_field_tag :document_type_code,  @benefit.second_authorization_code, class: 'form-control', placeholder: 'Si no aplica, debes de ver este texto.'
            .row
              .col-md-6
                .form-group
                  = label_tag  'Control interno de autorización : '
                  = text_field_tag :intern_code,  @benefit.intern_code, class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag  'Código de historia clínica : '
                  = text_field_tag :clinic_history_code,  @benefit.clinic_history_code, class: 'form-control'
            %h4 De la prestación
            .form-group
              = label_tag  'Tipo de cobertura : '
              = label_tag  @benefit.pay_document.authorization.coverage.sub_coverage_type.coverage_type.name
            .form-group
              = label_tag  'Sub tipo de cobertura : '
              = select_tag :sub_type_coverage_id, options_for_select(@sub_coverage_types, SubCoverageType.where(fact_code: @benefit.sub_type_coverage_code, coverage_type_id: CoverageType.find_by_code(@benefit.coverage_type_code)).last.id), class: 'form-control'
            .row
              .col-md-6
                .form-group
                  = label_tag  'Primer Diagnóstico : '
                  = text_field_tag  :first_diagnostic, @benefit.first_diagnostic, class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag  'Segundo Diagnóstico : '
                  = text_field_tag  :second_diagnostic, @benefit.second_diagnostic, class: 'form-control'
            .row
              .col-md-6
                .form-group
                  = label_tag  'Tercer Diagnóstico : '
                  = text_field_tag  :third_diagnostic, @benefit.third_diagnostic, class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag  'Fecha de la prestación : '
                  = text_field_tag :date, @benefit.date, class: 'form-control'
            .row
              .col-md-6
                .form-group
                  = label_tag  'Tipo de hospitalización : '
                  = select_tag  :hospitalization_type_code, options_for_select(@hospitalization_types, @benefit.hospitalization_type_code), prompt: 'Ingrese un tipo de hospitalización', class: 'form-control' unless HospitalizationType.find_by_code(@benefit.hospitalization_type_code).nil?
                  = select_tag  :hospitalization_type_code, options_for_select(@hospitalization_types, HospitalizationType.find_by_code(@benefit.hospitalization_type_code)), prompt: 'Ingrese un tipo de hospitalización', class: 'form-control' if HospitalizationType.find_by_code(@benefit.hospitalization_type_code).nil?
              .col-md-6
                .form-group
                  = label_tag  'Fecha de hospitalización : '
                  = text_field_tag  :admission_date, @benefit.admission_date, class: 'form-control'
            .row
              .col-md-6
                .form-group
                  = label_tag  'Tipo de salida : '
                  = select_tag  :hospitalization_output_type_code, options_for_select(@hospitalization_output_types, @benefit.hospitalization_output_type_code), prompt: 'Ingrese un tipo de salida hospitalización', class: 'form-control'
              .col-md-6
                .form-group
                  = label_tag  'Fecha de Salida : '
                  = text_field_tag  :discharge_date, @benefit.discharge_date, class: 'form-control'
            .form-group
              = label_tag  'Días de hospitalización : '
              = text_field_tag  :days_hospitalization, @benefit.days_hospitalization, class: 'form-control'
            .form-group.text-center
              = submit_tag 'Guardar Cambios', class: "btn btn-default"
