<div class="row">
	<div class="col-md-4">
		<%= form_tag(check_date_path, method: 'post', role: 'form') do %>
	<div class="form-group">
		<%= label_tag :init_date, 'Fecha de inicio' %>
		<%= date_field_tag :init_date,{}, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= label_tag :end_date, 'Fecha fin' %>
		<%= date_field_tag :end_date,{}, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= label_tag :insurance, 'Fecha fin' %>
		<%= select_tag :insurance, options_for_select(@insurances), class: 'form-control' %>
	</div>
	<p>
		<%= submit_tag 'Generar Tramas',  data: {confirm: '¿Está seguro que desea generar la trama?'} %>
	</p>

	<% end %>
	</div>
</div>
	<% unless @pay_documents.nil? %>
		<ul>
			<% @pay_documents.each do |p| %>
				<li>
					<%= link_to p.code, ready_principal_facturation_path(pay_document_id: p.id) %>
				</li>
			<% end %>
		</ul>
		
	<% end %>
	<% if @pay_document_groups.exists? %>
			<table class="table">
				<thead>
					<tr>
						<td>Número de lote</td>
						<td>Facturas asociadas</td>
						<td>Eliminar</td>
					</tr>
				</thead>
				<tbody>
					<% @pay_document_groups.each do |l| %>
					<tr>
						<td>Lote número <%= l.code %> </td>
						<td>
							<%= form_tag(delete_lot_path, method: 'delete') do %>
								<%= hidden_field_tag :lot_code, l.code %>
								<%= submit_tag 'Eliminar trama',  data: {confirm: '¿Desea imprimirla nuevamete?, una trama se genera en el momento que se busca la fecha.'} %>
							<% end %>
						</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
								    Ver Facturas
								    <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							  		<% l.pay_documents.each do |p| %>
										<li role="presentation"><%= link_to 'Factura '+ p.code, ready_principal_facturation_path(pay_document_id: p.id), role: 'menuitem', tabindex: '-1' %></li>
									<% end %>
							  	</ul>
							</div>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>	
	<% end %>