.row
  .col-md-4
  .col-md-4
    .jumbotron
      .container
        %h3.text-center
          Siguiente Lote : #{(PayDocumentGroup.order(:code).last.code.to_i + 1).to_s.rjust(7,'0')}
        = form_tag(generate_lot_path, method: 'post', role: 'form') do
          .form-group
            = label_tag :init_date, 'Fecha de inicio'
            = date_field_tag :init_date,{}, class: 'form-control'
          .form-group
            = label_tag :end_date, 'Fecha fin'
            = date_field_tag :end_date,{}, class: 'form-control'
          .form-group
            = label_tag :insurance, 'Fecha fin'
            = select_tag :insurance, options_for_select(@insurances), class: 'form-control'
          %p.text-center
            = submit_tag 'Generar Tramas',{ class: 'btn btn-primary',  data: {confirm: '¿Está seguro que desea generar la trama?'}}
  .col-md-4
- if @pay_document_groups.exists?
  %table.table
    %thead
      %tr
        %td Número de lote
        %td Cantidad de Facturas
        %td Aseguradora
        %td Intervalo Fecha
        %td ¿Repetidas?
        %td Factura Repetida
        %td Regenerar
        %td Eliminar
        %td Facturas asociadas
        %td Exportar con Nº de Lote
    %tbody
      - @pay_document_groups.each do |l|
        - flag = false
        - arr = Array.new
        - repetido = ''
        - l.pay_documents.each do |p|
          - arr.each do |a|
            - if arr.include?(p.code)
              - flag = true
              - repetido = p.code
          - arr.push(p.code)
        %tr
          %td
            Lote número #{l.code}
          %td= l.quantity
          %td= @insurances.invert[l.insurance_ruc]
          %td= date(l.init_date).to_s + ' ' + date(l.end_date).to_s
          - if flag
            %td SI
          - else
            %td NO
          %td= repetido
          %td
            = form_tag(generate_lot_path, method: 'post') do
              = hidden_field_tag :lot_code, l.code
              = hidden_field_tag :init_date, l.init_date
              = hidden_field_tag :end_date, l.end_date
              = hidden_field_tag :insurance, l.insurance_ruc
              = submit_tag 'Regenerar trama', {class: 'btn btn-success', data: {confirm: '¿Desea imprimirla nuevamete?, una trama se genera en el momento que se busca la fecha.'}}
          %td
            = form_tag(delete_lot_path, method: 'post') do
              = hidden_field_tag :lot_code, l.code
              = hidden_field_tag :init_date, l.init_date
              = hidden_field_tag :end_date, l.end_date
              = hidden_field_tag :insurance, l.insurance_ruc
              = submit_tag 'Eliminar trama', {class: 'btn btn-danger', data: {confirm: '¿Desea imprimirla nuevamete?, una trama se genera en el momento que se busca la fecha.'}}
          %td
            .dropdown
              %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                Ver Facturas
                %span.caret
              %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
                - l.pay_documents.order(:code).each do |p|
                  %li{:role => "presentation"}= link_to 'Factura '+ p.code, ready_principal_facturation_path(pay_document_id: p.id), role: 'menuitem', tabindex: '-1'
          %td
            = form_tag(export_lot_path, method: 'post') do
              = hidden_field_tag :pay_document_group_id, l.id
              = submit_tag 'Exportar con lote', {class: 'btn btn-principal', data: {confirm: '¿Desea exportar la trama?'}}
  %br/
  %center= will_paginate @pay_document_groups, renderer: BootstrapPagination::Rails
