<div class="row">
	<div class="col-md-4">
		<div class="jumbotron">
			<div class="container">
				<div class="list-group">
					<%= render 'links_facturation', site: '5' %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="jumbotron">
			<div class="container">
				<h3 class="text-center">Dentales</h3>
				<%= form_tag(add_dental_path, method: 'post', id: 'form_add_dental', role: 'form', remote: true) do %>
				<%= hidden_field_tag :benefit_id, @pay_document.benefit.id %>
				<div id="to_update_principal">
					<%= render 'detail_dental' %>
				</div>
				<div class="form-group text-center">
					<%= button_tag type: 'submit', class: "btn btn-primary" do %>
						Agregar producto <span class="glyphicon glyphicon-plus"></span>
					<% end %>
				</div>
				<% end %>
				<div id="table_dental">
					<%= render 'table_dental' %>
				</div>
			</div>
		</div>
	</div>
</div>

