<%= render "error_message", benefit: @pay_document.benefit %>
<div class="row">
	<div class="col-md-4">
		<div class="jumbotron">
			<div class="container">
				<div class="list-group">
					<%= render 'links_facturation', site: '1' %>
				</div>
				<%= form_tag(delete_facturation_path, method: 'post', role: 'form', class: 'form-inline text-center') do %>
				<div class="form-group">
					<%= hidden_field_tag :pay_document_id, @pay_document.id %>
					<%= submit_tag 'Eliminar Factura',class: 'btn btn-danger', data: {confirm: '¿Está seguro que desea eliminar la factura?, no es posible recuperarla luego de eliminarla.'} %>
				</div>				
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="jumbotron">
			<div class="container">
				<div class="form">
					<%= check_box_tag :not_export, @pay_document.not_export, @pay_document.not_export, class: 'form-control check_box', id: @pay_document.id %>
				</div>
				<h3 class="text-center">Información de factura</h3>
				<%= form_tag(update_principal_path, method: 'post', role: 'form', remote: true) do %>

				<div class="form-group text-center">
					<%= submit_tag 'Guardar Cambios', class: "btn btn-default" %>
				</div>
				<div id="to_update_principal">
					<%= render 'to_update_principal' %>
				</div>
				<div class="form-group text-center">
					<%= submit_tag 'Guardar Cambios', class: "btn btn-default" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>	
</div>

