<div class="row">
	<div class="md-col-2"></div>
	<div class="md-col-8">
		<h1>Venta <%= @clinic_area.name %> <%= @i_service.ticket_code %></h1>
		<%= form_tag(delete_service_sale_particular_path, method: 'post', role: 'form') do %>
			<%= hidden_field_tag :id_sale, @i_service.id %>
			<%= submit_tag 'Eliminar venta' %>
		<% end %>

		<div id="form_service_sales">	
			<%= render 'form_service_sales' %>
		</div>
		<div id="table_service_sales">
			<%= render 'table_service_sales' %>
		</div>
			<%= link_to 'Volver a perfil de Autorización', show_authorization_path(id: @i_service.authorization.id) %>
	</div>
	<div class="md-col-2"></div>
</div>
	

 
	
