.row
  .md-col-2
  .md-col-8
    %h1
      Venta #{@clinic_area.name} #{@particular_service.ticket_code}
    = form_tag(delete_service_sale_particular_path, method: 'post', role: 'form') do
      = hidden_field_tag :id_sale, @particular_service.id
      = submit_tag 'Eliminar venta', data: {confirm: '¿Está seguro que desea eliminar esta venta?, no hay opción a recuperarla, sólo puede generarla de nuevo.'}
    #form_service_sales
      = render 'form_service_sales'
    #table_service_sales
      = render 'table_service_sales'
    = link_to 'Volver a perfil de Autorización', show_authorization_path(id: @particular_service.authorization.id)
    %br/
    = link_to 'ir a vista de impresión' , print_services_path(:insured_service_id => @particular_service.id)
  .md-col-2
