%table.table.table-striped
  %thead
    %tr
      %td #
      %td Nº liquidación
      %td Nombre de Paciente
      %td Fecha
      %td Hora
      %td Nombre de Aseguradora
      %td Importe
  %tbody
    - @insured_pharmacies.each do |i|
      - if i.is_closed
        %tr.danger
      - else
        %tr.danger
      %td= i.id
      %td= link_to i.liquidation, new_pharmacy_ready_path(id_pharm: i.id)
      %td= to_name_i(i.authorization.patient)
      %td= time_name(i.created_at)
      %td= i.created_at.strftime('%H:%M') + ' ' + i.created_at.strftime('%p')
      %td= i.authorization.patient.insured.insurance.name
      %td= i.final_amount
