<div class="container-fluid">
<div class="col-sm-8 col-md-4 centered">
<div class="jumbotron">
  	<%= form_tag(export_comparation_path, method: 'post') do %>
		<%= label_tag "Fecha de inicio :"%>
		<%= date_field_tag :date_initial, '', :class=>"form-control"%>
		<%= label_tag "Fecha de fin :"%>
		<%= date_field_tag :date_final, '', :class=>"form-control"%>
		<br>
		<%=submit_tag "Verificar",:class=>"btn btn-primary"%>
  	<%end%>
  <br>
  
</div>
</div>
</div>
