
<table border="1">
	<thead>
		<tr>
			<td>Liquidación</td>
			<td>Paciente</td>
			<td>Fecha liquidación</td>
			<td>Factura</td>
			<td>Fecha facturación</td>
			<td>Importe</td>
			<td>Monto a facturar</td>
		</tr>
		

	</thead>
	<tbody>
		<% @insured_pharmacies.each do |i| %>
		<tr>
			<td><%= i.liquidation %></td>
			<td><%= i.authorization.patient.full_name %></td>
			<td><%= i.created_at%></td>
			<td><%= i.detail_pharmacy.benefit.pay_document.code rescue 'No ha sido facturado' %></td>
			<td><%= i.detail_pharmacy.benefit.pay_document.emission_date rescue 'No ha sido facturado' %></td>
			<td><%= i.final_amount %></td>
			<td><%= i.initial_amount %></td>
		</tr>
		<% end %>
		<tr>
			<td>Totales</td>
		</tr>
	</tbody>
</table>
