<h1>Liquidaciones</h1>
<div class="row">
	<div class="form-group">
		<%= form_tag(pharmacies_path(page: 1), method: 'get', role: 'form', remote: true) do %>
			<div class="col-md-3">
				<%= text_field_tag :liquidation, '', {class: 'form-control', placeholder: 'Número de liquidación'} %>
			</div>
			<div class="col-md-2">
				<%= date_field_tag :date, '', {class: 'form-control'} %>
			</div>
			<div class="col-md-1">
				<%= submit_tag 'Buscar', class: 'btn' %>
			</div>
		<% end %>
	</div>
</div>
<div id="pharmacy_table_index">
	<%= render 'pharmacy_table_index' %>
</div>
<br>
<center><%= will_paginate @insured_pharmacies, renderer: BootstrapPagination::Rails %></center>

