<table width="98%" border="1" style="font-size: 9px;" rules="groups" >
<colgroup span="4"></colgroup>
<colgroup span="0"> </colgroup>
<colgroup span="5"></colgroup>
<tbody>
  <tr style="font-size: 15px;">
    <td colspan="4" align="center"><strong>CLINICA SEÑOR DE LUREN DE ICA SAC</strong></td>
    
  <td>
    
  </td>
    <td colspan="5" align="center"><strong>CLINICA SEÑOR DE LUREN DE ICA SAC</strong></td>
    
  </tr>
        
  <tr>
    <td colspan="4" align="center"><strong>Av. San Martin Nº 536 Urb. La Morales Ica-Peru</strong></td>
    <td></td>
    <td colspan="5" align="center"><strong>Av. San Martin Nº 536 Urb. La Morales Ica-Peru</strong></td>
  </tr>
  <tr>
    <td colspan="4" align="center"><strong>Telefono:</strong></td>
    <td></td>
    <td colspan="5" align="center"><strong>Telefono:</strong></td>
  </tr>
  <tr>
    <td colspan="4" align="center"><strong>RUC Nº : 20494306043</strong></td>
    <td></td>
    <td colspan="5" align="center"><strong>RUC Nº : 20494306043</strong></td>
  </tr>
    </tbody>
  <tr>
    <td width="12.6%"><strong>Nº AUTORIZACION</strong></td>
    <td colspan="3"><%= @pharm.authorization.code %></td>
    <td></td>
    <td width="14%"><strong>Nº AUTORIZACION</strong></td>
    <td colspan="4"><%= @pharm.authorization.code %></td>
  </tr>
    
  <tr>
    <td><strong>Nº carne Aseg.</strong></td>
    <td width="16%"><%= @pharm.authorization.patient.insured.code %></td>
    <td width="13%"><strong>Nº LIQUIDACION</strong></td>
    <td width="8%"><%= @pharm.liquidation %></td>
    <td></td>
    <td><strong>Nº carne Aseg.</strong></td>
    <td width="16%"><%= @pharm.authorization.patient.insured.code %></td>
    <td width="13%"><strong>Nº LIQUIDACION</strong></td>
    <td width="8%" colspan="2"><%= @pharm.liquidation %></td>
  </tr>
  <tr>
    <td><strong>FECHA</strong></td>
    <td colspan="3"><%= @pharm.created_at %></td>
    <td></td>
    <td><strong>FECHA</strong></td>
    <td colspan="4"><%= @pharm.created_at %></td>
  </tr>
  <tr>
    <td><strong>SEGURO</strong></td>
    <td colspan="3"><%=@pharm.authorization.patient.insured.insurance.name%></td>
    <td></td>
    <td><strong>SEGURO</strong></td>
    <td colspan="4"><%=@pharm.authorization.patient.insured.insurance.name%></td>
  </tr>
  
  <tr>
    <td><strong>PCTE</strong></td>
    <td colspan="3"><%=@complete_name%></td>
    <td></td>
    <td><strong>PCTE</strong></td>
    <td colspan="4"><%=@complete_name%></td>
  </tr>
  <tr>
    <td><strong>MEDICO</strong></td>
    <td colspan="3"></td>
    <td></td>
    <td><strong>MEDICO</strong></td>
    <td colspan="3"></td>
    <td></td>
  </tr>
  
</table>
<table rules="groups" border="1" width="98%"  style="font-size: 9px;">
<colgroup span="7"></colgroup>
<colgroup span="1"></colgroup>
<colgroup span="7"></colgroup>
<tbody>
  <tr>
    <td width="50%" align="center" colspan="7">MEDICINA</td>
    <td width="0%"></td>
    <td align="center" colspan="7">MEDICINA</td>
  </tr>
</tbody>
<tbody>
  <tr>
    <td align="center" width="5%">Cant.</td>
    <td align="center" width="6%">U/M</td>
    <td width="15%">Nombre</td>
    <td align="center" width="5%">Kairos</td>
    <td align="center" width="5%">Sin Igv</td>
    <td align="center" width="5%">Dcto <%= @porc %></td>
    <td align="center" width="5%">Importe</td>
    <td></td>
    <td align="center" width="5%">Cant.</td>
    <td align="center" width="6%">U/M</td>
    <td width="15%">Nombre</td>
    <td align="center" width="5%">Kairos</td>
    <td align="center" width="5%">Sin Igv</td>
    <td align="center" width="5%">Dcto <%= @porc %></td>
    <td align="center" width="5%">Importe</td>
  </tr>
  </tbody>
  <tbody>
  <% @pharm.purchase_insured_pharmacies.each do |pu| %>
    <% if pu.product_pharm_type_id == 1 %>
    <tr>
      <td align="center"><%= pu.quantity %></td>
      <td><%= pu.digemid_product.form_simplificated[0,10] %> </td>
      <td><%= pu.product_pharm_exented.code %> <%= pu.digemid_product.name[0,18] + ' ' + pu.digemid_product.concentration %></td>
      <td align="center"><%=("%.2f" % pu.unitary) %></td>
      <td align="center"><%=("%.2f" % pu.without_igv.to_f) %></td>
      <td align="center"><%=("%.2f" % pu.first_copayment.to_f) %></td>
      <td align="center"><%= ("%.2f" % pu.initial_amount) %></td>
      <td></td>
      <td align="center"><%= pu.quantity %></td>
      <td><%= pu.digemid_product.form_simplificated[0,10] %></td>
      <td><%= pu.digemid_product.name[0,18] + ' ' + pu.digemid_product.concentration  %></td>
      <td align="center"><%= ("%.2f" % pu.unitary) %></td>
      <td align="center"><%=("%.2f" % pu.without_igv.to_f) %></td>
      <td align="center"><%=("%.2f" % pu.first_copayment.to_f) %></td>
      <td align="center"><%= ("%.2f" % pu.initial_amount) %></td>
    </tr>
    <% else %>
      <% if pu.product_pharm_type_id == 3 %>
        <tr>
          <td align="center"><%= pu.quantity %></td>
          <td>Insumo</td>
          <td><%= pu.name %></td>
          <td align="center"><%= "%.2f" % pu.unitary %></td>
      <td align="center"><%=("%.2f" % pu.without_igv.to_f) %></td>
      <td align="center"><%=("%.2f" % pu.first_copayment.to_f) %></td>
          <td align="center"><%= "%.2f" % pu.initial_amount %></td>
          <td></td>
          <td align="center"><%= pu.quantity %></td>
          <td>Insumo</td>
          <td><%= pu.name %></td>
          <td align="center"><%= "%.2f" % pu.unitary %></td>
      <td align="center"><%=("%.2f" % pu.without_igv.to_f) %></td>
      <td align="center"><%=("%.2f" % pu.first_copayment.to_f) %></td>
          <td align="center"><%= "%.2f" % pu.initial_amount %></td>
        </tr>
      <% else %>
        <tr>
          <td align="center"><%= pu.quantity %></td>
          <td>Fármaco</td>
          <td><%= pu.name %></td>
          <td align="center"><%= "%.2f" % pu.unitary %></td>
      <td align="center"><%=("%.2f" % pu.without_igv.to_f) %></td>
      <td align="center"><%=("%.2f" % pu.first_copayment.to_f) %></td>
          <td align="center"><%= "%.2f" % pu.initial_amount %></td>
          <td></td>
          <td align="center"><%= pu.quantity %></td>
          <td>Fármaco</td>
          <td><%= pu.name %></td>
          <td align="center"><%= "%.2f" % pu.unitary %></td>
      <td align="center"><%=("%.2f" % pu.without_igv.to_f) %></td>
      <td align="center"><%=("%.2f" % pu.first_copayment.to_f) %></td>
          <td align="center"><%= "%.2f" % pu.initial_amount %></td>
        </tr>        
      <% end %>
    <% end %>
  <% end %>
  <% @high.times do |h| %>
          <tr>
            <td colspan="7">&nbsp;</td>
            <td colspan="1"></td>
            <td colspan="7">&nbsp;</td>
          </tr>
        <% end %>
  </tbody>
  <tbody>
  <tr>
    <td colspan="4"></td>
    <td colspan="2">Total Kairos</td>
    <td align="center"><%= "%.2f" % @pharm.total_kairos %></td>
    <td></td>
    <td colspan="4"></td>
    <td colspan="2">Total Kairos</td>
    <td align="center"><%= "%.2f" % @pharm.total_kairos %></td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td colspan="2">Total restando Igv</td>
    <td align="center"><%= "%.2f" % @pharm.without_igv.to_f %></td>
    <td></td>
    <td colspan="4"></td>
    <td colspan="2">Total restando Igv</td>
    <td align="center"><%= "%.2f" % @pharm.without_igv.to_f %></td>
  </tr>
  <tr>
  <tr>
    <td colspan="4"></td>
    <td colspan="2">Descuento <%= @porc %></td>
    <td align="center"><%= "%.2f" % @pharm.first_copayment.to_f %></td>
    <td></td>
    <td colspan="4"></td>
    <td colspan="2">Descuento <%= @porc %></td>
    <td align="center"><%= "%.2f" % @pharm.first_copayment.to_f %></td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td colspan="2">Subtotal</td>
    <td align="center"><%= "%.2f" % @pharm.initial_amount %></td>
    <td></td>
    <td colspan="4"></td>
    <td colspan="2">Subtotal</td>
    <td align="center"><%= "%.2f" % @pharm.initial_amount %></td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td colspan="2">IGV (18)</td>
    <td align="center"><%= "%.2f" % @igv %></td>
    <td></td>
    <td colspan="4"></td>
    <td colspan="2">IGV (18)</td>
    <td align="center"><%= "%.2f" % @igv %></td>
  </tr>
  <tr>
    <td align="center" colspan="4"></td>
    <td colspan="2">TOTAL</td>
    <td align="center"><%= "%.2f" % @total_amount %></td>
    <td></td>
    <td align="center" colspan="4"></td>
    <td colspan="2">TOTAL</td>
    <td align="center"><%= "%.2f" % @total_amount %></td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td colspan="2">Copago</td>
    <td align="center"><%= "%.2f" % @pharm.copayment %></td>
    <td></td>
    <td colspan="4"></td>
    <td colspan="2">Copago</td>
    <td align="center"><%= "%.2f" % @pharm.copayment %></td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td colspan="2">igv Cop</td>
    <td align="center"><%= "%.2f" % @pharm.igv %></td>
    <td></td>
    <td colspan="4"></td>
    <td colspan="2">igv Cop</td>
    <td align="center"><%= "%.2f" % @pharm.igv %></td>
  </tr>
  <tr>
    <td align="center" colspan="4">Firma del paciente</td>
    <td colspan="2">TOTAL Cop</td>
    <td align="center"><%= "%.2f" % @pharm.final_amount %></td>
    <td></td>
    <td align="center" colspan="4">Firma del paciente</td>
    <td colspan="2">TOTAL Cop</td>
    <td align="center"><%= "%.2f" % @pharm.final_amount %></td>
  </tr>

  </tbody>
  <tbody>
  <tr>
    <td align="center" colspan="5">&nbsp;<%= @pharm.authorization.patient.document_identity_code %></td>
    <td></td>
    <td></td>
    <td></td>
    <td align="center" colspan="5">&nbsp;<%= @pharm.authorization.patient.document_identity_code %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td align="center" colspan="5">Nº DNI</td>
    <td style="font-size: 10px;">Usuario : <%= @pharm.employee.username %></td>
    <td></td>
    <td></td>
    <td align="center" colspan="5">Nº DNI</td>
    <td style="font-size: 10px;">Usuario : <%= @pharm.employee.username %></td>
    <td></td>
  </tr>
  </tbody>
</table>