
<table class="table  table-striped">
	<thead>
		<tr>
			<td>Nº Autorizacion</td>
			<td>monto inicial</td>
			<td>copago</td>
			<td>igv</td>
			<td>final amount</td>
			<td>#</td>
			<td>Nº liquidación</td>
			<td>Nombre de Paciente</td>
			<td>Nombre de Aseguradora</td>
			<td>Importe</td>
			<td>suma</td>
		</tr>
	</thead>
	<tbody>
	@pharm = Post.paginate(:page => params[:page])
	<% @pharm.each do |i| %>
		<% if i.is_closed %>
			<tr>
		<% else %>
			<tr class="danger">
		<% end %>
			<td><%= i.authorization%></td>
			<td><%= i.initial_amount%></td>
			<td><%= i.copayment%></td>
			<td><%= i.igv%></td>
			<td><%= i.final_amount%></td>		
			<td><%= i.id %></td>
			<td><%=  link_to i.liquidation, new_pharmacy_ready_path(id_pharm: i.id) %></td>
			<td><%= to_name_i(i.authorization.patient) %></td>
			<td><%= i.authorization.patient.insured.insurance.name %></td>
			<td><%= i.final_amount %></td>
			
			
		</tr>
	<% end %>
	</tbody>
</table>