<table width="98%" border="1" style="font-size: 9px;">
  <tr style="font-size: 20px;">
    <td colspan="4" align="center"><strong>CLINICA SEÑOR DE LUREN DE ICA SAC</strong></td>
    <td width="4%">&nbsp;</td>
    <td colspan="4" align="center"><strong>CLINICA SEÑOR DE LUREN DE ICA SAC</strong></td>
  </tr>
  <tr>
    <td colspan="4" align="center"><strong>Av. San Martin Nº 536 Urb. La Morales Ica-Peru</strong></td>
    <td>&nbsp;</td>
    <td colspan="4" align="center"><strong>Av. San Martin Nº 536 Urb. La Morales Ica-Peru</strong></td>
  </tr>
  <tr>
    <td colspan="4" align="center"><strong>Telefono:</strong></td>
    <td>&nbsp;</td>
    <td colspan="4" align="center"><strong>Telefono:</strong></td>
  </tr>
  <tr>
    <td colspan="4" align="center"><strong>RUC Nº : 20494306043</strong></td>
    <td>&nbsp;</td>
    <td colspan="4" align="center"><strong>RUC Nº : 20494306043</strong></td>
  </tr>
  <tr>
    <td width="13%"><strong>Nº AUTORIZACION</strong></td>
    <td colspan="3"><%= @pharm.authorization.code %></td>
    <td>&nbsp;</td>
    <td width="14%"><strong>Nº AUTORIZACION</strong></td>
    <td colspan="3"><%= @pharm.authorization.code %></td>
  </tr>
  <tr>
    <td><strong>Nº carne Aseg.</strong></td>
    <td width="14%"><%= @pharm.authorization.patient.insured.code %></td>
    <td width="12%"><strong>Nº LIQUIDACION</strong></td>
    <td width="6%">&nbsp;</td>
    <td>&nbsp;</td>
    <td><strong>Nº carne Aseg.</strong></td>
    <td width="16%"><%= @pharm.authorization.patient.insured.code %></td>
    <td width="13%"><strong>Nº LIQUIDACION</strong></td>
    <td width="8%">&nbsp;</td>
  </tr>
  <tr>
    <td><strong>FECHA</strong></td>
    <td colspan="3"><%= @pharm.created_at%></td>
    <td>&nbsp;</td>
    <td><strong>FECHA</strong></td>
    <td colspan="3"><%= @pharm.created_at%></td>
  </tr>
  <tr>
    <td><strong>SEGURO</strong></td>
    <td colspan="3"><%=@pharm.authorization.patient.insured.insurance.name%></td>
    <td>&nbsp;</td>
    <td><strong>SEGURO</strong></td>
    <td colspan="3"><%=@pharm.authorization.patient.insured.insurance.name%></td>
  </tr>
  <tr>
    <td><strong>PCTE</strong></td>
    <td colspan="3"><%=@complete_name%></td>
    <td>&nbsp;</td>
    <td><strong>PCTE</strong></td>
    <td colspan="3"><%=@complete_name%></td>
  </tr>
  <tr>
    <td><strong>MEDICO</strong></td>
    <td colspan="3">&nbsp;</td>
    <td>&nbsp;</td>
    <td><strong>MEDICO</strong></td>
    <td colspan="3">&nbsp;</td>
  </tr>
	
</table>
<table border="1" width="98%"  style="font-size: 9px;">
  <tr>
    <td width="45.4%" align="center" colspan="5">MEDICINA</td>
    <td width="4%">&nbsp;</td>
    <td align="center" colspan="5">MEDICINA</td>
  </tr>
  <tr>
    <td>Cant.</td>
    <td>U/M</td>
    <td>Nombre</td>
    <td>Uni</td>
    <td>Importe</td>
    <td></td>
    <td>Cant.</td>
    <td>U/M</td>
    <td>Nombre</td>
    <td>Uni</td>
    <td>Importe</td>
  </tr>
  <% @pharm.purchase_insured_pharmacies.each do |pu| %>
    <% if pu.product_pharm_type_id == 1 %>
    <tr>
      <td><%= pu.quantity %></td>
      <td><%= pu.digemid_product.form_simplificated[0,10] %></td>
      <td><%= pu.digemid_product.name[0,22] %></td>
      <td align="right"><%=("%.2f" % pu.unitary) %></td>
      <td align="right"><%= ("%.2f" % pu.initial_amount) %></td>
      <td></td>
      <td><%= pu.quantity %></td>
      <td><%= pu.digemid_product.form_simplificated[0,10] %></td>
      <td><%= pu.digemid_product.name[0,22] %></td>
      <td align="right"><%= ("%.2f" % pu.unitary) %></td>
      <td align="right"><%= ("%.2f" % pu.initial_amount) %></td>
    </tr>
    <% else %>
      <% if pu.product_pharm_type_id == 3 %>
        <tr>
          <td><%= pu.quantity %></td>
          <td>Insumo</td>
          <td><%= pu.name %></td>
          <td align="right"><%= "%.2f" % pu.unitary %></td>
          <td align="right"><%= "%.2f" % pu.initial_amount %></td>
          <td></td>
          <td><%= pu.quantity %></td>
          <td>Insumo</td>
          <td><%= pu.name %></td>
          <td align="right"><%= "%.2f" % pu.unitary %></td>
          <td align="right"><%= "%.2f" % pu.initial_amount %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= pu.quantity %></td>
          <td>Fármaco</td>
          <td><%= pu.name %></td>
          <td align="right"><%= "%.2f" % pu.unitary %></td>
          <td align="right"><%= "%.2f" % pu.initial_amount %></td>
          <td></td>
          <td><%= pu.quantity %></td>
          <td>Fármaco</td>
          <td><%= pu.name %></td>
          <td align="right"><%= "%.2f" % pu.unitary %></td>
          <td align="right"><%= "%.2f" % pu.initial_amount %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %> 
  <tr>
    <td colspan="3"></td>
    <td>Subtotal</td>
    <td align="right"><%= "%.2f" % @pharm.initial_amount %></td>
    <td></td>
    <td colspan="3"></td>
    <td>Subtotal</td>
    <td align="right"><%= "%.2f" % @pharm.initial_amount %></td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>Copago</td>
    <td align="right" align="right"><%= "%.2f" % @pharm.copayment %></td>
    <td></td>
    <td colspan="3"></td>
    <td>Copago</td>
    <td align="right"><%= "%.2f" % @pharm.copayment %></td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>IGV (18)</td>
    <td align="right"><%= "%.2f" % @pharm.igv %></td>
    <td></td>
    <td colspan="3"></td>
    <td>IGV (18)</td>
    <td align="right"><%= "%.2f" % @pharm.igv %></td>
  </tr>
  <tr>
    <td align="center" colspan="3">Firma del paciente</td>
    <td>TOTAL</td>
    <td align="right"><%= "%.2f" % @pharm.final_amount %></td>
    <td></td>
    <td align="center" colspan="3">Firma del paciente</td>
    <td>TOTAL</td>
    <td align="right"><%= "%.2f" % @pharm.final_amount %></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;<%= @pharm.authorization.patient.document_identity_code %></td>
    <td></td>
    <td></td>
    <td></td>
    <td colspan="3">&nbsp;<%= @pharm.authorization.patient.document_identity_code %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td align="center" colspan="3">Nº DNI</td>
    <td></td>
    <td></td>
    <td></td>
    <td align="center" colspan="3">Nº DNI</td>
    <td></td>
    <td></td>
  </tr>
</table>







<!--
<table width="600px" border="1" style="float:left" >
  <tr>
    <td colspan="2" align="center"><strong>CLINICA SEÑOR DE LUREN DE ICA SAC</strong></td>
  </tr>
  <tr>
    <td colspan="2" align="center">Av.San Martin Nº 536 Urb La Morales Ica-Peru</td>
  </tr>
  <tr>
    <td colspan="2" align="center">Telefono:</td>
  </tr>
  <tr>
    <td colspan="2" align="center">RUC Nº: 20494306043</td>
  </tr>
  <tr>
    <td width="19%"><strong> Nº AUTORIZACION</strong></td>
    <td width="81%"><%= @pharm.authorization.code %></td>
  </tr>
  <tr>
    <td><strong>Nº carne Aseg</strong></td>
    <td><%= @pharm.authorization.patient.insured.code %></td>
  </tr>
  <tr>
    <td><strong>FECHA</strong></td>
    <td><%= @pharm.created_at%></td>
  </tr>
  <tr>
    <td><strong>SEGURO</strong></td>
    <td><%=@pharm.authorization.patient.insured.insurance.name%></td>
  </tr>
  <tr>
    <td><strong>PCTE</strong></td>
    <td><%=@complete_name%></td>
  </tr>
  <tr>
    <td><strong>MEDICO</strong></td>
    <td><%=@pharm.authorization.doctor.complet_name%></td>
  </tr>
</table>
--!>
