<div class="row">
	<div class="md-col-2"></div>
	<div class="md-col-8">
<h1>Venta Farmacia <%= @i_pharmacy.ticket_code %> </h1>
<% if !@i_pharmacy.is_closed %>
<h3>Agregar Venta Farmacia <%= @i_pharmacy.ticket_code %> </h3>
<%= form_tag(add_pharmacy_path, method: 'post') do %>
	<%= hidden_field_tag :insured_pharmacy_id, @i_pharmacy.id %>
	<p>
		<%= label_tag :product_pharm_type_id , 'Elige el Tipo de producto' %>
		<%= select_tag :product_pharm_type_id, options_from_collection_for_select(@product_pharm_types, :id, :name) %>
	</p>
	<p>
		<%= label_tag :digemid_product_id , 'Elige el producto en DIGEMID' %>
		<%= select_tag :digemid_product_id, options_for_select(@digemid_products) %>
	</p>
	<p>
		<%= label_tag :quantity , 'Cantidad' %>
		<%= number_field_tag :quantity %>
	</p>
	<p>
		<%= label_tag :unitary , 'Precio unitario' %>
		<%= text_field_tag :unitary %>
	</p>
	<p>
		<%= label_tag :product_pharm_exented_id , '¿Producto Exento de Impuesto?' %>
		<%= select_tag :product_pharm_exented_id, options_for_select(@product_pharm_exenteds, 1) %>
	</p>
	<p>
		<%= submit_tag 'Agregar Producto', data: {confirm: '¿Está seguro que quiere agregar este producto?'} %>
	</p>
<% end %>
<% end %>
	
		<% if @i_pharmacy.purchase_insured_pharmacies.exists? %>
		<table align="center" class="table table-bordered ">
			<tr align="center">
				<td>Código de servicio</td>
				<td>Nombre de servicio</td>
				<td>Cantidad</td>
				<td>Unitario</td>
				<td>Monto Inicial</td>
				<td>Aplicado Copago</td>
				<td>Igv</td>
				<td>Monto Final</td>
				<td>Borrar registro</td>
			</tr>
			<% @i_pharmacy.purchase_insured_pharmacies.each do |p| %>
				<tr align="center">
					<td><%= p.digemid_product.code %></td>
					<td><%= p.digemid_product.name %></td>
					<td><%= p.quantity.to_s %></td>
					<td><%= p.unitary %></td>
					<td><%= p.initial_amount %></td>
					<td><%= p.copayment %></td>
					<td><%= p.igv %></td>
					<td><%= p.final_amount %></td>
				</tr>
			<% end %>
			
			<br><br>
			<% if @i_pharmacy.is_closed %>				
				<tr align="center" class="info">
					<td colspan="4">TOTAL</td>
					<td><%= @i_pharmacy.initial_amount %></td>
					<td><%= @i_pharmacy.copayment %></td>
					<td><%= @i_pharmacy.igv %></td>
					<td><%= @i_pharmacy.final_amount %></td>
				</tr>
				<tr>
					<td align="center" colspan="8"><h1>Venta Cerrada</h1></td>					
				</tr>
			<% else %>
			<tr align="center">
				<td colspan="8">
					<%= form_tag( close_pharmacy_path, method: 'post') do %>
						<%= hidden_field_tag :id, @i_pharmacy.id %>
						<%= hidden_field_tag :is_closed, true %>
						<%= submit_tag 'Cerrar Venta', data: {confirm: '¿Está seguro que desea cerrar la venta?'} %>
					<% end %>
				</td>
			</tr>
			<% end %>
			</table>
		<% else %>
			<p>No hay servicios agregados a esta venta</p>
		<% end %>

		<%= link_to 'Volver a perfil de Autorización', show_authorization_path(id: @i_pharmacy.authorization.id) %>

	</div>
	<div class="md-col-2"></div>
</div>
