<div class="row">
	<div class="md-col-2"></div>
	<div class="md-col-8">
	
<h1>Venta Farmacia <%= @i_pharmacy.liquidation.to_s %> para <%= to_name_i(@i_pharmacy.authorization.patient) %></h1>
<h4>Usuario responsable : <%= @username %></h4>
<div class="row">
	<div id="form_add_pharmacy">
		<%= render 'form' %>
	</div>
	<div class="col-md-6">
		<div class="jumbotron">
			<div class="container">
				<h3>Otras funciones</h3>
				<div class="row">
					<%= form_tag(pharmacy_change_date_path, method: 'post', role: 'form') do %>
						<%= hidden_field_tag :insured_pharmacy_id, @i_pharmacy.id %>
						<div class="form-group">
							<%= label_tag :created_at, 'Cambiar fecha' %>
							<%= date_field_tag :created_at, @i_pharmacy.created_at.strftime('%Y-%m-%d'), class: 'form-control' %>
						</div>
						<div class="form-group">			
							<%= submit_tag 'Cambiar fecha',class: 'btn btn-success' %>
						</div>
					<% end %>
				</div>
				<div class="row">
					<%= form_tag(drop_pharmacy_path, method: 'post', role: 'form') do %>
						<%= hidden_field_tag :insured_pharmacy_id, @i_pharmacy.id %>
						<div class="form-group">
							<%= submit_tag 'Eliminar Venta',class: 'btn btn-danger' %>
							Utilizar en caso de error incorregible.
						</div>
					<% end %>
				</div>
			</div>
		</div>			
	</div>	
</div>


	<div id="table_pharmacy">
		<%= render 'add_pharmacy' %>
	</div>

	<div id="footer_pharmacy">
		<%= link_to 'Volver a perfil de Autorización', show_authorization_path(id: @i_pharmacy.authorization.id) %>
		<br>
		<%= link_to 'Ir a vista de impresión', pharmacy_print_path(pharmacy_id:  @i_pharmacy.id) %>
		<div class="row">
			<div class="col-md-4">
				<%= form_tag(add_liquidation_path, method: 'post', role: 'form') do %>
					<%= hidden_field_tag :insured_pharmacy_id, @i_pharmacy.id %>
					<div class="form-group has-warning has-feedback">				
						<%= text_field_tag :liquidation, @i_pharmacy.liquidation, {class: 'form-control', placeholder: 'Número de liquidación'} %>
 						<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	</div>
	<div class="md-col-2">
		
	</div>
</div>
