<div class="row">
	<% if params[:message] == '1' %>
		<div class="alert alert-success" role="alert">
		<%= @message %>
		</div>
	<% end %>
</div>
<center>Actualmente <%= @insureds.count %> asegurados han ingresado a la clínica</center>
<table>
	<% @insureds.each do |p| %>
		<tr>
			<td><%= p.id %></td>
			<td><%= p.patient.name %></td>
			<td><%= p.patient.paternal %></td>			
		</tr>
	<% end %>
</table><br>
<center><%= will_paginate @insureds %></center>