.row
  .col-md-1
  .col-md-10
    %h3{:class => "text.center"}
      Nueva Autorización : #{to_name_i(patient)}
    = form_tag(confirm_admission_path, method: 'post', role: 'form') do
      = hidden_field_tag :patient_id, patient.id
      .form-group
        = select_tag :authorization_type_id, options_from_collection_for_select(AuthorizationType.all, :id, :name), class: 'form-control'
      .form-group
        = text_field_tag :code, '', class: 'form-control'
      = submit_tag 'Crear nueva autorización', class: 'btn btn-success'
  .col-md-1
