<table class="table  table-striped">
	<thead>
		<tr>
			<td>#</td>
			<td>Historia clínica</td>
			<td>Nombre de Paciente</td>
			<td>DNI</td>
			<td>Nombre de Aseguradora</td>
			<td>Número de Atenciones</td>
		</tr>
	</thead>
	<tbody>
	<% @patients.each do |p| %>
			<td><%= p.id %></td>
			<td><%= p.clinic_history_code.to_s %></td>
			<td><%= link_to to_name_i(p), show_patient_path(id: p.id) %></td>
			<td><%= p.document_identity_code %></td>
			<% if p.insured.nil? %>
				<td>No posee</td>
			<% else %>
				<td><%= p.insured.insurance.name %></td>
			<% end %>
			
			<td><%= p.authorizations.count %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<br>
<center><%= will_paginate @insureds, renderer: BootstrapPagination::Rails %></center>

