.impre
  = link_to 'Volver al perfil del paciente', show_patient_path(id: @patient.id)
%table{:width => "100%"}
  %tr
    %td{:colspan => "12"} &nbsp;
  %tr
    %td{:colspan => "2"} FUNCIONES VITALES
    %td P/A
    %td= text_field_tag '', '', class: 'form-control'
    %td{:align => "center"} FC
    %td= text_field_tag '', '', class: 'form-control'
    %td{:align => "center"} FR
    %td= text_field_tag '', '', class: 'form-control'
    %td{:align => "center"} T
    %td= text_field_tag '', '', class: 'form-control'
  %tr
    %td{:colspan => "12"} &nbsp;
  %tr
    %td{:align => "center"} PC
    %td= text_field_tag '', '', class: 'form-control'
    %td{:align => "center"} PT
    %td= text_field_tag '', '', class: 'form-control'
    %td{:align => "center"} PESO
    %td= text_field_tag '', '', class: 'form-control'
    %td{:align => "center"} TALLA
    %td= text_field_tag '', '', class: 'form-control'
    %td{:align => "center"} SPO2
    %td= text_field_tag '', '', class: 'form-control'
  %tr
    %td{:colspan => "12"} &nbsp;
%table{:border => "1", :width => "100%"}
  %tr
    %td{:align => "center", :colspan => "3", :width => "100%"}= to_name_i(@patient)
  %tr
  %tr
    %td{:align => "center", :width => "33%"} Consultorio :
    %td{:width => "33%"}= text_field_tag :place, '', class: 'form-control'
    %td{:width => "33%"} &nbsp;
  - 35.times do
    %tr
      %td{:colspan => "3"} &nbsp;
