<table>
	<tr>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="5">
			<%= image_tag('logo.png', size: '500x100') %>
		</td>
		<td colspan="2"></td>
		<td colspan="5">
			Servicios de: Emergencia, Ambulatorio, Hospitalización, Centro quirúrgico, Salud ocupacional y Ambulancia.
		</td>
	</tr>
	<tr>
		<td height="10px" colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="4"></td>
		<td colspan="4" style="font-size:30px">
			HISTORIA CLÍNICA
		</td>
		<td colspan="4" >
			<%= text_field_tag 'clinic_history_code', @patient.clinic_history_code, class: 'form-control' %>
		</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>

	<tr>
		<td colspan="2">APELLIDOS Y NOMBRES</td>
		<td colspan="10"><%= text_field_tag 'name', to_name_i(@patient), class: 'form-control' %></td>
	</tr>
	<tr>
		<td height="1px" colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td>F. Nacimiento</td>
		<td colspan="2"><%= text_field_tag '', @patient.birthday, class: 'form-control' %></td>
		<td align="center">Edad</td>
		<td><%= text_field_tag '', @patient.age, class: 'form-control' %></td>
		<td align="center">DNI</td>
		<td colspan="2"><%= text_field_tag '', @patient.document_identity_code, class: 'form-control' %></td>
		<td align="center">Teléfono</td>
		<td colspan="2"><%= text_field_tag '', @patient.phone, class: 'form-control' %></td>
	</tr>	
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>	
	<tr>
		<td>Direccion</td>
		<td colspan="11"><%= text_field_tag '', @patient.direction, class: 'form-control' %></td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>	
	<tr>
		<td>Convenio</td>
		<td colspan="2"><%= text_field_tag '', @patient.insured.insurance.name, class: 'form-control' unless @patient.insured.insurance.nil? %></td>
		<td></td>
		<td>Particular</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>
		<td></td>
		<td>Otros(Especificar)</td>
		<td colspan="4"><%= text_field_tag '', '', class: 'form-control' %></td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12">
			<p>
				De conformidad a lo establecido en la Ley 29733, Ley de Protección de Datos Personales, yo <%= to_name_i(@patient) %>, con DNI° <%= @patient.document_identity_code %>, Autorizo a la Clínica Señor de Luren de Ica S.A.C, al registro, tratamiento y transferencia de los datos recogidos de mi persona durante los procesos de atención de salud . Los cuales pasará a formar parte del banco de datos personas – Historia Clínica – bajo la responsabilidad de la Clínica Señor de Luren de Ica S.A.C, los que registran con la finalidad de recolectar información necesaria para la correcta atención y control de salud. Conozco que puedo ejercer, de acuerdo a la legislación vigente, los derechos de información, acceso, actualización, inclusión, rectificación y oposición sobre sus datos personales, enviando una comunicación escrita al departamento de Administración de la Clínica Señor de Luren de Ica S.A.C
			</p>
		</td>
	</tr>

	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="10"></td>
		<td colspan="2">
			<%= date_field_tag :date, '', class: 'form-control' %>
		</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">FUNCIONES VITALES</td>
		<td>P/A</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>
		<td align="center">FC</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>
		<td align="center">FR</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>
		<td align="center">T</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>	
	</tr>

	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td align="center">PC</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>
		<td align="center">PT</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>
		<td align="center">PESO</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>
		<td align="center">TALLA</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>
		<td align="center">SPO2</td>
		<td><%= text_field_tag '', '', class: 'form-control' %></td>
	</tr>
</table>