<div class="impre">
	<%= link_to 'Volver al perfil del paciente', show_patient_path(id: @patient.id) %>
</div>
<table>
	<tr>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
		<td width="10%">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="5">
			<%= image_tag('logo.png', size: '500x100') %>
		</td>
		<td colspan="2"></td>
		<td colspan="5">
			Servicios de: Emergencia, Ambulatorio, Hospitalización, Centro quirúrgico, Salud ocupacional y Ambulancia.
		</td>
	</tr>
	<tr>
		<td height="10px" colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="4"></td>
		<td colspan="5" style="font-size:30px">
			HISTORIA CLÍNICA
		</td>
		<td colspan="2" >
			<%= text_field_tag 'clinic_history_code', @patient.clinic_history_code, class: 'form-control' %>
		</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>

	<tr>
		<td colspan="3">APELLIDOS Y NOMBRES</td>
		<td colspan="9"><%= text_field_tag 'name', to_name_i(@patient), class: 'form-control' %></td>
	</tr>
	<tr>
		<td height="1px" colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td>F. Nacimiento</td>
		<td colspan="1"><%= text_field_tag '', @patient.birthday.strftime("%d-%m-%Y"), class: 'form-control' %></td>
		<td align="center">Edad : <%= @patient.current_age %></td>
		<td align="center">DNI</td>
		<td colspan="2"><%= text_field_tag '', @patient.document_identity_code, class: 'form-control' %></td>
		<td align="center">Teléfono</td>
		<td colspan="2">
			<%= form_tag(update_phone_path, method: 'post', role: 'form', remote: true) do %>
			<%= hidden_field_tag :patient_id, @patient.id %>
				<%= text_field_tag :phone, @patient.phone, class: 'form-control' %>
			<% end %>
		</td>
	</tr>	
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>	
	<tr>
		<td>Direccion</td>
		<td colspan="11">
			<%= form_tag(update_direction_path, method: 'post', remote: true) do %>
			<%= hidden_field_tag :patient_id, @patient.id %>
			<%= text_field_tag :direction, @patient.direction, class: 'form-control' %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td>Convenio</td>
		<td colspan="5"><%= text_field_tag '', @patient.insurance_name, class: 'form-control' %></td>
		<td>Particular</td>
		<td><%= text_field_tag '', @patient.particular_value, class: 'form-control' %></td>
		
		<td colspan="3"></td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td>Otros(Especificar)</td>
		<td colspan="12">
			<%= form_tag(update_other_path, method: 'post', role: 'form', remote: true) do %>
				<%= hidden_field_tag :patient_id, @patient.id %>
				<%= text_area_tag :other, @patient.other, class: 'form-control', size: '20x10' %>
				<div class="impre">
					<%= submit_tag 'Guardar' %>
				</div>				
			<% end %>
		</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12">
			<p>
				De conformidad a lo establecido en la Ley 29733, Ley de Protección de Datos Personales, yo <%= to_name_i(@patient) %>, con DNI° <%= @patient.document_identity_code %>, Autorizo a la Clínica Señor de Luren de Ica S.A.C, al registro, tratamiento y transferencia de los datos recogidos de mi persona durante los procesos de atención de salud . Los cuales pasará a formar parte del banco de datos personas – Historia Clínica – bajo la responsabilidad de la Clínica Señor de Luren de Ica S.A.C, los que registran con la finalidad de recolectar información necesaria para la correcta atención y control de salud. Conozco que puedo ejercer, de acuerdo a la legislación vigente, los derechos de información, acceso, actualización, inclusión, rectificación y oposición sobre sus datos personales, enviando una comunicación escrita al departamento de Administración de la Clínica Señor de Luren de Ica S.A.C
			</p>
		</td>
	</tr>

	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
	<tr>
		<td>
		<div class="impre">
			<%= form_tag(udpate_date_generation_path, role: 'form', method: 'post', remote: true) do %>
				<%= hidden_field_tag :patient_id, @patient.id %>
				<%= date_field_tag :date_generation, '', class: 'form-control' %>
				<%= submit_tag 'Enviar' %>
			<% end %>
		</div>		
		</td>
		<td colspan="7"></td>
		<td colspan="4">
			<div id="date_generation_text">
				Ica, <%= time_name(@patient.date_generation) unless @patient.date_generation.nil? %>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="12">&nbsp;</td>
	</tr>
</table>
