<h1>Pacientes</h1>
<center>Actualmente se han ingresado <%= @patients.count %> pacientes al sistema CSL</center><br>
<div class="row">
	<div class="form-group">
		<%= form_tag(authorizations_path(page: 1), method: 'get', role: 'form') do %>
			<div class="col-md-3">
				<%= text_field_tag :paternal, '', {class: 'form-control', placeholder: 'Apellido paterno'} %>
			</div>
			<div class="col-md-3">
				<%= text_field_tag :maternal, '', {class: 'form-control', placeholder: 'Apellido materno'} %>
			</div>
			<div class="col-md-1">
				<%= submit_tag 'Buscar', class: 'btn' %>
			</div>
		<% end %>
	</div>
</div>
<table class="table  table-striped">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre de Paciente</td>
			<td>Nombre de Aseguradora</td>
			<td>Número de Atenciones</td>
		</tr>
	</thead>
	<tbody>
	<% @patients.each do |p| %>
			<td><%= p.id %></td>
			<td><%= link_to to_name_i(p), show_insured_path(id: p.id) %></td>
			<td><%= p.insured.insurance.name %></td>
			<td><%= p.authorizations.count %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<br>
<center><%= will_paginate @insureds, renderer: BootstrapPagination::Rails %></center>

