<h1>Chat de CSL</h1>
<div class="row">
	<div class="col-md-12">
		<p>
			Hecho para notificar consultas y nuevas actualizaciones al sistema.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<%= form_tag(add_chat_path, method: 'post', role: 'post', id: 'form_chat', remote: true) do %>
						<%= hidden_field_tag :employee_id, current_employee.id %>
						<div class="form-group">
							<%= text_area_tag :body, '', class: 'form-control validate[required,custom[email]]' %>
						</div>
						<%= submit_tag 'Enviar mensaje', class: 'btn' %>
					<% end %>
				</div>
				<div class="row">
					<%= form_tag(add_chat_path, method: 'post', role: 'post', id: 'form_chat', remote: true) do %>
						<%= submit_tag 'Actualizar', class: 'btn btn-success' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

<div id="chat_all" class="row">
	<%= render 'add' %>
</div>