- if !@i_service.is_closed
  %h3 Agregar Servicio
  .row
    .col-md-12
      = form_tag(add_service_path, method: 'post', role: 'form', remote: true) do
        = hidden_field_tag :insured_service_id, @i_service.id
        = hidden_field_tag :authorization_id, @i_service.authorization.id
        .row
          .col-md-4
            = label_tag :service_id , 'Elige el servicio'
            = select_tag :service_id, options_from_collection_for_select(@services, :id, :name, @service), {prompt: 'Elge el servicio', class: 'form-control'}
          .col-md-2
            = label_tag :code_id , 'Elige el código'
            = select_tag :code_id, options_for_select(@codes), {prompt: 'Elige por código', class: 'form-control'}
          .col-md-3
            = label_tag :service_exented_id , 'Exonerado de Igv'
            = select_tag :service_exented_id, options_for_select(@service_exenteds), class: 'form-control'
          .col-md-1
            = label_tag :factor , 'Factor'
            = text_field_tag :factor, '1', class: 'form-control'
          .col-md-1
            = label_tag :quantity , 'Cantidad'
            = number_field_tag :quantity, '1', class: 'form-control'
          .col-md-1
            = label_tag :unitary , 'Unitario'
            = text_field_tag :unitary, '0', class: 'form-control'
        %br/
        .row
          .col-md-12
            = submit_tag 'Agregar Servicio', data: {confirm: '¿Está seguro que desea agregar el servicio?'}, class: 'btn btn-primary col-md-12'
