<% if @i_service.purchase_insured_services.exists? %>
<table align="center" class="table table-bordered ">
	<thead>
		<tr align="center">
			<td>Código de servicio</td>
			<td>Nombre de servicio</td>
			<td>Cantidad</td>
			<td>Unitario</td>
			<td>Factor</td>
			<td>Monto Inicial</td>
			<td>Aplicado Copago</td>
			<td>Igv</td>
			<td>Monto Final</td>
			<% if !@i_service.is_closed %>
			<td>Borrar Registro</td>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @i_service.purchase_insured_services.each do |p| %>
		<tr align="center">
			<td><%= p.service.code %></td>
			<td><%= p.service.name %></td>
			<td><%= p.quantity.to_s %></td>
			<td>				
				<%= form_tag( update_purchase_service_path, method: 'post', role: 'form', remote: true) do %>
				<%= hidden_field_tag :purchase_insured_service_id, p.id %>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<% unless p.unitary == '' or p.unitary == 0 or p.unitary.nil? %>
						<%= text_field_tag :unitary, p.unitary, class: 'form-control' %>
						<% else %>
						<%= text_field_tag :unitary, p.service.unitary, class: 'form-control' %>
						<% end %>
						
					</div>
					<div class="col-md-3"></div>
				</div>								
				<% end %>
			</td>
			<td><%= p.factor %></td>
			<td><%= p.initial_amount %></td>
			<td><%= p.copayment %></td>
			<td><%= p.igv %></td>
			<td><%= p.final_amount %></td>
			<% if !@i_service.is_closed %>
			<td>
				<%= form_tag(delete_service_path, method: 'post', remote: true) do %>
				<%= hidden_field_tag :purchase_insured_service_id, p.id %>
				<%= submit_tag 'Borrar registro', data: {confirm: '¿Está seguro que desea borrar este registro?'} %>
				<% end %>
			</td>
			<% end %>
		</tr>
		<% end %>					
		<br><br>
		<% if @i_service.is_closed %>				
		<tr align="center" class="info">
			<td colspan="4">TOTAL</td>
			<td><%= @i_service.initial_amount.round(2) %></td>
			<td><%= @i_service.copayment %></td>
			<td><%= @i_service.igv.round(2) %></td>
			<td><%= @i_service.final_amount %></td>
		</tr>
		<tr>
			<td align="center" colspan="8"><h1>Venta Cerrada</h1></td>					
		</tr>
		<tr align="center">
			<td colspan="8">
				<%= form_tag( open_sale_path, method: 'post', remote: true) do %>
				<%= hidden_field_tag :id, @i_service.id %>
				<%= hidden_field_tag :is_closed, nil %>
				<%= submit_tag 'Abrir Venta', data: {confirm: '¿Está seguro que desea abir la compra?'} %>
				<% end %>
			</td>
		</tr>
		<% else %>
		<tr align="center">
			<td colspan="8">
				<%= form_tag( close_sale_path, method: 'post', remote: true) do %>
				<%= hidden_field_tag :id, @i_service.id %>
				<%= hidden_field_tag :is_closed, true %>
				<%= submit_tag 'Cerrar Venta', data: {confirm: '¿Está seguro que desea cerrar la compra?'} %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
<p>No hay servicios agregados a esta venta</p>
<% end %>