
<div align="center">
  <table width="325" border="0" style="font-size:14">
    <tr>    
      <td colspan="6" style="font-family:Courier New;"><div align="center">CLINICA SEÑOR DE LUREN DE ICA S.A.C.</div></td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6"><div align="center">AV.San Martin Nº 536, Urb. La Morales</div></td>
    </tr>
    <tr>
      <td colspan="6"><div align="center">ICA-ICA-ICA</div></td>
    </tr>
    <tr>
      <td colspan="6"><div align="center">Tel&eacute;fono : 056-21-1989</div></td>
    </tr>
    <tr>
      <td colspan="6"><div align="center">RUC Nº : 20294306043</div></td>
    </tr>
    <tr>
      <td colspan="6"><div align="center"><strong>TICKET Nº -030853</strong></div></td>
    </tr>
    <tr>
      <td colspan="6">Nº de Serie:</td>
    </tr>
    <tr>
      <td colspan="2">Fecha:<%= @insured_service.created_at.strftime("%Y-%m-%d") %></td>
      <td colspan="4">Hora:<%= @insured_service.created_at.strftime("%H:%M:%S%P") %></td>
    </tr>
    <tr>
      <td colspan="6">Nº de Orden:</td>
    </tr>
    <tr>
      <td colspan="6">Nº de Autorización:<%= @authorization.code%></td>
    </tr>
    <tr>
      <td colspan="6">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </td>
    </tr>
    <tr>
      <td colspan="6">Señor(es):<%= to_name_i @patient%></td>
    </tr>
    <tr>
      <td colspan="6">Empresa:<%= @company %></td>
    </tr>
    <tr>
      <td colspan="2">Historia Cli:</td>
      <td colspan="4">ReTicketado:</td>
    </tr>
    <tr>
      <td colspan="6">Orden Atención:</td>
    </tr>
    <tr>
      <td colspan="6">Nº de Carnet:</td>
    </tr>
    <tr>
      <td colspan="6">Aseguradora:<%= @insurance %></td>
    </tr>
    <tr>
      <td colspan="2">Deducible:</td>
      <td colspan="2">&nbsp;</td>
      <td colspan="2"><%= @cop_var %>%</td>
    </tr>
    <tr>
      <td colspan="6">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </td>
    </tr>
    
    <tr style="font-size:10px;">
      <td width="20">Cant:</td>
      <td width="80"><div align="center">Descripci&oacute;n</div></td>
      <td width="20">Código</td>
      <td width="30">Precio</td>
      <td width="30">igv</td>
      <td width="30">Importe</td>
    </tr>
    <tr>
      <td colspan="6">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </td>
    </tr>
    <% @insured_service.purchase_insured_services.each do |p| %>
    <tr style="font-size:10px;">
      <td><%= p.quantity.to_s  %></td>
      <td style="font-size:8px;"><%= p.service.name.to_s  %></td>
      <td><%= p.service.code.to_s  %></td>
      <td><%= "%.2f" % p.copayment.to_s %></td>
      <td><%= "%.2f" % p.igv.to_s  %></td>
      <td><%= "%.2f" % p.final_amount.to_s %></td>
    </tr>
    <% end %>

    
    <tr>
      <td colspan="6">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ <tr>
      <div class="impre">
        <td colspan="6">
        <div class="impre">
            <%= text_field_tag :pay %>
          </td>
        </div>
      </div>      
    </tr>
    <tr style="font-size:10px;">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2">Total S/.</td>
      <td></td>
      <td><div id="final"><%="%.2f" %  @insured_service.final_amount.round(1) %> </div></td>
    </tr>
    <tr style="font-size:10px;">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2">Efectivo S/.</td>
      <td></td>
      <td><div id="show_pay"></div></td>
    </tr>
    <tr style="font-size:10px;" >
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2">Vuelto S/.</td>
      <td></td>
      <td><div id="show_returned"></div></td>
    </tr>
    <tr>
      <td style="font-size:10px;">SON</td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td style="font-size:10px;" colspan="6"><%= to_words(@insured_service.final_amount).upcase%> Y <%= to_words(@decimal).upcase %>/100 NUEVOS SOLES </td>
    </tr>
    <tr>
      <td align="center" colspan="6">Cajera(o) :<%= to_name_i(@employee).upcase %></td>
    </tr>
    <tr>      
      <td align="center" colspan="6">***Gracias por su Preferencia***</td>
    </tr>
  </table>
</div>	
