<div class="row">
	<div class="md-col-2"></div>
	<div class="md-col-8">
		<h1>Venta <%= @clinic_area.name %> <%= @i_service.ticket_code %></h1>

		<% if !@i_service.is_closed %>
		<%= form_tag(delete_service_sale_path, method: 'post', role: 'form') do %>
			<%= hidden_field_tag :id_sale, @i_service.id %>
			<%= submit_tag 'Eliminar venta', data: {confirm: '¿Está seguro que desea eliminar esta venta?, no hay opción a recuperarla, sólo puede generarla de nuevo.'} %>
		<% end %>
		<h3>Agregar Servicio</h3>
		<div class="row">
			<div class="col-md-8">
		<%= form_tag(add_service_path, method: 'post', role: 'form') do %>
			<%= hidden_field_tag :insured_service_id, @i_service.id %>
			<div class="row">
				<div class="col-md-7">
					<div class="form-group">
						<%= label_tag :service_id , 'Elige el servicio' %>
						<%= select_tag :service_id, options_from_collection_for_select(@services, :id, :name), {prompt: 'Elge el servicio', class: 'form-control'} %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<%= label_tag :code_id , 'Elige el servicio por código' %>
						<%= select_tag :code_id, options_for_select(@codes), {prompt: 'Elige por código', class: 'form-control'} %>
					</div>
				</div>
			</div>
			<div class="form-group">
				<%= label_tag :quantity , 'Cantidad' %>
				<%= number_field_tag :quantity, 1, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= label_tag :service_exented_id , 'Exonerado de Igv' %>
				<%= select_tag :service_exented_id, options_for_select(@service_exenteds), class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= submit_tag 'Agregar Servicio', data: {confirm: '¿Está seguro que desea agregar el servicio?'}, class: 'btn btn-default' %>
			</div>
		<% end %>
		</div>
	</div>
		<% end %>
				<% if @i_service.purchase_insured_services.exists? %>
				<table align="center" class="table table-bordered ">
				<thead>
					<tr align="center">
						<td>Código de servicio</td>
						<td>Nombre de servicio</td>
						<td>Cantidad</td>
						<td>Unitario</td>
						<td>Monto Inicial</td>
						<td>Aplicado Copago</td>
						<td>Igv</td>
						<td>Monto Final</td>
						<% if !@i_service.is_closed %>
							<td>Borrar Registro</td>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% @i_service.purchase_insured_services.each do |p| %>
						<tr align="center">
							<td><%= p.service.code %></td>
							<td><%= p.service.name %></td>
							<td><%= p.quantity.to_s %></td>
							<td><%= p.service.unitary %></td>
							<td><%= p.initial_amount %></td>
							<td><%= p.copayment %></td>
							<td><%= p.igv %></td>
							<td><%= p.final_amount %></td>
							<% if !@i_service.is_closed %>
								<td>
									<%= form_tag(delete_service_path, method: 'post') do %>
										<%= hidden_field_tag :purchase_insured_service_id, p.id %>
										<%= submit_tag 'Borrar registro', data: {confirm: '¿Está seguro que desea borrar este registro?'} %>
									<% end %>
								</td>
							<% end %>
						</tr>
					<% end %>					
					<br><br>
					<% if @i_service.is_closed %>				
						<tr align="center" class="info">
							<td colspan="4">TOTAL</td>
							<td><%= @i_service.initial_amount %></td>
							<td><%= @i_service.copayment %></td>
							<td><%= @i_service.igv %></td>
							<td><%= @i_service.final_amount %></td>
						</tr>
						<tr>
							<td align="center" colspan="8"><h1>Venta Cerrada</h1></td>					
						</tr>
					<% else %>
					<tr align="center">
						<td colspan="8">
							<%= form_tag( close_sale_path, method: 'post') do %>
								<%= hidden_field_tag :id, @i_service.id %>
								<%= hidden_field_tag :is_closed, true %>
								<%= submit_tag 'Cerrar Venta', data: {confirm: '¿Está seguro que desea cerrar la compra?, no hay opción a cambio.'} %>
							<% end %>
						</td>
					</tr>
					<% end %>
					</tbody>
					</table>
				<% else %>
					<p>No hay servicios agregados a esta venta</p>
				<% end %>

				<%= link_to 'Volver a perfil de Autorización', show_authorization_path(id: @i_service.authorization.id) %>
	</div>
	<div class="md-col-2"></div>
</div>



	
