= form_tag(confirm_coverage_path, method: 'post') do
  .form-group
    = hidden_field_tag :authorization_id, params[:id]
    = submit_tag 'Confirmar', {class: 'btn btn-primary', data: {confirm: '¿Está seguro que desea ingresar una cobertura?'}}
= form_tag(fast_close_path, method: 'post') do
  .row
    .col-md-4
      .form-group
        = text_field_tag :unitary, '', class: 'form-control'
      .form-group
        = hidden_field_tag :authorization_id, params[:id]
        = submit_tag 'Agregado rápido', {class: 'btn btn-danger'}
