<div class="row">
	<div class="md-col-2"></div>
	<div class="md-col-8">
<h1>Venta Cobertura <%= @insured_service.ticket_code %> </h1>

<%= form_tag(delete_coverage_path, method: 'post', role: 'form') do %>
	<%= hidden_field_tag :insured_service_id, @insured_service.id %>
	<%= submit_tag 'Eliminar consulta', data: {confirm: '¿Seguro que desea eliminar la consulta?'} %>
<% end %>
<% if @insured_service.purchase_coverage_service.nil? %>
<h3>Agregar Servicio</h3>
<%= form_tag(add_coverage_path, method: 'post') do %>
	<%= hidden_field_tag :insured_service_id, @insured_service.id %>
	<p>
		<%= label_tag :service_id , 'Elige el servicio' %>
		<%= select_tag :service_id, options_for_select(@services) %>
	</p>
	<p>
		<%= label_tag :consultation , 'Costo cobertura : ' %>
		<%= label_tag :consultation, @insured_service.authorization.patient.insured.insurance.consultation %>
		<%= hidden_field_tag :unitary, @insured_service.authorization.patient.insured.insurance.consultation %>
	</p>
	<p>
		<%= submit_tag 'Agregar Servicio', data: {confirm: '¿Está seguro que desea La cobertura?'} %>
	</p>

<% end %>
<% else %>
	Ya se agregó el servicio por cobertura.
<% end %>
	
		<% if !@insured_service.purchase_coverage_service.nil? %>
		<table align="center" class="table table-bordered ">
			<tr align="center">
				<td>Código de servicio</td>
				<td>Nombre de servicio</td>
				<td>Unitario</td>	
				<td>Aplicado Copago</td>
				<td>Igv</td>
				<td>Monto Final</td>
			</tr>
			<% p = @insured_service.purchase_coverage_service %>
				<tr align="center">
					<td><%= p.service.code %></td>
					<td><%= p.service.name %></td>
					<td><%= p.unitary %></td>
					<td><%= p.copayment %></td>
					<td><%= p.igv %></td>
					<td><%= p.final_amount %></td>
				</tr>
			
			<br><br>
			<% if @insured_service.is_closed %>
				<tr align="center" class="info">
					<td colspan="2">TOTAL</td>
					<td><%= @insured_service.initial_amount %></td>
					<td><%= @insured_service.copayment %></td>
					<td><%= @insured_service.igv %></td>
					<td><%= @insured_service.final_amount %></td>
				</tr>
				<tr>
					<td align="center" colspan="8"><h1>Venta Cerrada</h1></td>					
				</tr>
			<% else %>
			<tr align="center">
				<td colspan="8">
					<%= form_tag(close_coverage_path, method: 'post') do %>
						<%= hidden_field_tag :id, @insured_service.id %>
						<%= hidden_field_tag :is_closed, true %>
						<%= submit_tag 'Cerrar Venta', data: {confirm: '¿Está seguro que desea cerrar la compra?, no hay opción a cambio.'} %>
					<% end %>
				</td>
			</tr>
			<% end %>
			</table>
		<% else %>
			<p>No hay servicios agregados a esta venta</p>
		<% end %>

		<%= link_to 'Volver a perfil de Autorización', show_authorization_path(id: @insured_service.authorization.id) %>
	


	</div>
	<div class="md-col-2"></div>
</div>


