%tr
	%td= detail_service.service.name rescue 'error'
	%td= detail_service.quantity rescue 'error'
	%td= detail_service.factor rescue 'error'
	%td= detail_service.unitary rescue 'error'
	%td= detail_service.amount rescue 'error'