<a name="top"></a>
<ul>
	<li><%= link_to 'Enfermedades mas atendidas en el 2015', '#diagnostics' %></li>
	<li><%= link_to 'Especialidades mas atendidas en el 2015', '#specialities' %></li>
</ul>

<a name="diagnostics"></a>
<h1 class="text-center">Enfermedades mas atendidas en el 2015</h1>
<%= link_to 'Volver arriba', '#top' %>
<table class="table">
	<thead>
		<th>Código</th>
		<th>Nombre</th>
		<th>Número</th>
	</thead>
	<% @diagnostics.each do |diagnostic| %>
	<tr>
		<% unless diagnostic.first_diagnostic.blank? %>
		<td><%= diagnostic.first_diagnostic %></td>
		<td><%= diagnostic.diagnostic_type.name %></td>
		<td><%= diagnostic.total %></td>
		<% end %>
	</tr>
	<% end %>
</table>

<a name="specialities"></a>
<h1 class="text-center">Enfermedades mas atendidas en el 2015</h1>
<%= link_to 'Volver arriba', '#top' %>
<table class="table">
	<thead>
		<th>Código</th>
		<th>Nombre</th>
		<th>Número</th>
	</thead>
	<% @specialities.each do |speciality| %>
	<tr>
		<td><%= speciality.authorizations.count rescue 'error' %></td>
		<td><%= speciality.name rescue 'error' %></td>
	</tr>
	<% end %>
</table>