<table class="table">
	<thead>
		<tr>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Precio unitario</th>
			<th>Monto final</th>
			<th>Liquidación</th>
			<th>Fecha de creación</th>
			<th>Factura</th>
		</tr>
	</thead>
	<tbody>
		<% @ps.each do |purchase_insured_pharmacy| %>
		<tr>
			<td><%= purchase_insured_pharmacy.name.blank? ? purchase_insured_pharmacy.digemid_product.name : purchase_insured_pharmacy.name rescue 'error' %></td>
			<td><%= purchase_insured_pharmacy.quantity %></td>
			<td><%= purchase_insured_pharmacy.unitary %></td>
			<td><%= purchase_insured_pharmacy.final_amount %></td>
			<td><%= purchase_insured_pharmacy.insured_pharmacy.liquidation %></td>
			<td><%= purchase_insured_pharmacy.insured_pharmacy.date_create %></td>
			<td><%= purchase_insured_pharmacy.detail_pharmacy.benefit.pay_document.code rescue 'no facturado' %></td>
		</tr>
		<% end %>
	</tbody>
</table>