
<div class="row">
	<h2 class="text-center">TIPOS DE ATENCIONES</h2>
	<div class="col-md-4 text-center">
		<h3>SEPTIEMBRE</h3>
		<%= column_chart coverage_type_stadistic('9'), discrete: true, height: '500px' %>
	</div>
	<div class="col-md-4 text-center">
		<h3>OCTUBRE</h3>
		<%= column_chart coverage_type_stadistic('10'), discrete: true, height: '500px' %>
	</div>
	<div class="col-md-4 text-center">
		<h3>NOVIEMBRE</h3>
		<%= column_chart coverage_type_stadistic('12'), discrete: true, height: '500px' %>
	</div>
</div>
<div class="row">
	<h2 class="text-center">ATENCIONES POR SEXO</h2>
	<div class="col-md-2 text-center">
		<h3>Hombres Septiembre</h3>
		<%= column_chart Authorization.joins(:patient => {:insured => :insurance}).group('insurances.name').where('month(authorizations.date) = 9 and patients.sex = "M" and insurances.id in (1,3,11,12)').count, discrete: true, height: '500px' %>
	</div>	
	<div class="col-md-2 text-center">
		<h3>Mujeres Septiembre</h3>
		<%= column_chart Authorization.joins(:patient => {:insured => :insurance}).group('insurances.name').where('month(authorizations.date) =9 and patients.sex = "F" and insurances.id in (1,3,11,12)').count, discrete: true, height: '500px' %>
	</div>
	<div class="col-md-2 text-center">
		<h3>Hombres Octubre</h3>
		<%= column_chart Authorization.joins(:patient => {:insured => :insurance}).group('insurances.name').where('month(authorizations.date) = 10 and patients.sex = "M" and insurances.id in (1,3,11,12)').count, discrete: true, height: '500px' %>
	</div>	
	<div class="col-md-2 text-center">
		<h3>Mujeres Octubre</h3>
		<%= column_chart Authorization.joins(:patient => {:insured => :insurance}).group('insurances.name').where('month(authorizations.date) = 10 and patients.sex = "F" and insurances.id in (1,3,11,12)').count, discrete: true, height: '500px' %>
	</div>
	<div class="col-md-2 text-center">
		<h3>Hombres Noviembre</h3>
		<%= column_chart Authorization.joins(:patient => {:insured => :insurance}).group('insurances.name').where('month(authorizations.date) = 11 and patients.sex = "M" and insurances.id in (1,3,11,12)').count, discrete: true, height: '500px' %>
	</div>	
	<div class="col-md-2 text-center">
		<h3>Mujeres Noviembre</h3>
		<%= column_chart Authorization.joins(:patient => {:insured => :insurance}).group('insurances.name').where('month(authorizations.date) = 11 and patients.sex = "F" and insurances.id in (1,3,11,12)').count, discrete: true, height: '500px' %>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<h3>DIAGNÓSTICOS NOVIEMBRE</h3>
		<%= column_chart Authorization.joins('inner join diagnostic_types on diagnostic_types.code = authorizations.first_diagnostic').where('month(authorizations.date) = 11').order('count(first_diagnostic) desc').group('diagnostic_types.name').limit(10).count, discrete: true, height: '500px' %>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<h3>SERVICIOS NOVIEMBRE</h3>
		<%= column_chart PurchaseInsuredService.joins(:service, :insured_service => :authorization).where('month(authorizations.date) = 11 and services.clinic_area_id in(1,2,3)').order('count(purchase_insured_services.id) desc').group('services.name').limit(10).count, discrete: false, height: '500px' %>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="text-center">
			<%= image_tag('in_construction.png') %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<table class="table">
			<tr>
				<td>Nombre completo</td>
				<td>Número de atenciones</td>
				<td>Compañía</td>
				<% @report.each do |r| %>
					<tr>
						<td><%= to_name_i(r.patient) %></td>
						<td><%= r.patient.authorizations.count %></td>
						<td><%= r.company.name %></td>
					</tr>
				<% end %>
			</tr>
		</table>
	</div>
</div>

<!--
select distinct(s.id), s.name, count(p.id) from purchase_insured_services p 
inner join services s on s.id = p.service_id
group by s.id
order by count(p.id) desc
-->