<div class="jumbotron">
	<div class="container">
		<div class="list-group">
			<%= link_to 'AGREGAR SERVICIOS', '#', class: "list-group-item active", remote: true %>
			<%= link_to 'Agregar Exámen de Laboratorio', new_sales_path(name: ClinicArea.find(4).name, id_authorization: @authorization.id), class: "list-group-item" if can? :manage, InsuredService %>
			<%= link_to 'Agregar Exámen de Rayos X', new_sales_path(name: ClinicArea.find(5).name, id_authorization: @authorization.id), class: "list-group-item" if can? :manage, InsuredService %>
			<%= link_to 'Agregar Ecografía', new_sales_path(name: ClinicArea.find(6).name, id_authorization: @authorization.id), class: "list-group-item" if can? :manage, InsuredService %>
			<%= link_to 'Agregar Tomografía', new_sales_path(name: ClinicArea.find(7).name, id_authorization: @authorization.id), class: "list-group-item" if can? :manage, InsuredService %>
			<%= link_to 'Agregar procedimiento', new_sales_path(name: ClinicArea.find(3).name, id_authorization: @authorization.id), class: "list-group-item" if can? :manage, InsuredService %>
			<%= link_to 'Agregar odontológico', new_sales_path(name: ClinicArea.find(8).name, id_authorization: @authorization.id), class: "list-group-item" if can? :manage, InsuredService %>
			<%= link_to 'Agregar Procedimiento quirúrgico', new_sales_path(name: ClinicArea.find(1).name, id_authorization: @authorization.id), class: "list-group-item" if can? :manage, InsuredService %>
			<%= link_to 'Agregar Productos de tópico', new_topic_path(id_authorization: @authorization.id), class: "list-group-item" if can? :manage, InsuredService %>
			<%= link_to 'Agregar Productos Farmacéuticos', new_pharmacy_path(id_authorization: @authorization.id), class: "list-group-item"  %>
			<%= link_to 'Vista Total', insured_services_all_path(authorization_id: @authorization.id), class: "list-group-item"  %>
			<% unless @authorization.has_consultation %>
			<%= link_to 'Agregar Consulta', '#', class: "list-group-item", data: {toggle: 'modal', target: '#consulta'} if can? :manage, InsuredService %>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="consulta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<h1>Registro de consulta médica</h1>
				<p>¿Confirma que desea ingresar una nueva venta?</p>
				<p>
					<%= form_tag('#', method: 'post') do %>
					<div class="form-group">
						<%= hidden_field_tag :authorization_id, params[:id] %>
						<%=submit_tag 'Confirmar', {class: 'btn btn-primary', data: { confirm: 'Está seguro que desea agregar una nueva consulta?'}} %>
					</div>
					<% end %>

					<%= form_tag(fast_close_path, method: 'post', remote: true) do %>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<%= text_field_tag :unitary, '', class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= hidden_field_tag :authorization_id, params[:id] %>
								<%=submit_tag 'Agregado rápido', {class: 'btn btn-danger'} %>
							</div>
						</div>
					</div>	
					<% end %>
				</p>
			</div>
		</div>
	</div>
</div>