= hidden_field_tag :page, params[:page]
%table.table
  %thead
    %tr
      %td #
      %td Código interno
      %td Nombre de Paciente
      %td Nombre de Aseguradora
      %td Estado
      %td Posee Facturas
      %td Ver Facturas
      %td Fecha de creación
      %td Link hacia autorización
  %tbody
    - @authorizations.each do |a|
      - if a.status.nil?
        - clase = ''
      - else
        - clase = get_color(a.status.code)
      %tr{id: a.id, class: clase}
        %td= a.id
        %td
          %strong
            = form_tag(update_intern_code_path, method: 'post', role: 'form', remote: true) do
              = hidden_field_tag :authorization_id, a.id
              = hidden_field_tag :page, params[:page]
              = text_field_tag :intern_code, a.intern_code, class: 'form-control'         
        - if a.patient.nil?
          %td
          %td
            = button_tag 'Corregir', class: 'btn btn-primary col-md-12', data: { toggle: 'modal', target: '#AuthorizationEditModal'+a.id.to_s }
            .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "AuthorizationEditModal#{a.id}"}
              .modal-dialog
                .modal-content
                  .list-group
                    = render 'fix_name', authorization: a
        - else
          %td= a.patient.insured.insurance.name
          %td= link_to to_name_i(a.patient), show_patient_path(id: a.patient.id)
          -if a.status.nil?
            %td= select_tag :status_id, options_for_select(@statuses), class: 'form-control'
          -else
            %td
              = select_tag :status_id, options_for_select(@statuses, a.status.id), class: 'form-control'
              = hidden_field_tag :authorization_id, a.id
        - if a.pay_documents.exists?
          %td Si
        - else
          %td No
        %td
          .dropdown
            %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              Ver Facturas
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
              - a.pay_documents.each do |p|
                %li{:role => "presentation"}= link_to 'Factura '+ p.code, ready_principal_facturation_path(pay_document_id: p.id), role: 'menuitem', tabindex: '-1' if can? :manage, PayDocument
                %li.disabled{:role => "presentation"}= link_to 'Factura '+ p.code, ready_principal_facturation_path(pay_document_id: p.id), role: 'menuitem', tabindex: '-1', remote: true, class: 'disabled' if cannot? :manage, PayDocument
        %td
          - a.date = a.date + 5.hours
          - @date=a.date.strftime('%d-%m-%Y')
          - @time=a.date.strftime('%H:%M:%S')
          = @date + ' ' + @time
        - if a.code != nil
          %td= link_to 'ir a '+ a.code, show_authorization_path(id: a.id)
%br/
%center= will_paginate @insureds, renderer: BootstrapPagination::Rails
