%table.table
	%tr
		%td Código
		%td Aseguradora
		%td Nombre
		%td Estado
		%td Fecha
	- @authorizations.each do |a|
		%tr
			%td= a.code
			- if a.patient.insured.nil?
				%td Particular
			- else
				%td= a.patient.insured.insurance.name
			%td= a.patient.full_name
			%td= time_name(a.date + 5.hours) + ' a las ' + (a.date + 5.hours).strftime("%H:%M:%S")
			%td= a.status.name
			