	<div class="row">
		<div class="col-md-4"></div>
		
		<div class="col-md-5">
		
		</div>	
		<div class="col-md-4"></div>		
	</div>

	<div class="row">
	<div class="col-md-5" >
	<div class="jumbotron">
			<div class="container">
				<h3 class="text-center">
				<strong>AUTORIZACIÓN :</strong> <small><%= @authorization.code %></small>
				</h3>
			</div>	
		</div>
	<div class="jumbotron">
		<div class="container">
			<div class="list-group">
			<%= link_to 'AGREGAR SERVICIOS', '#', class: "list-group-item active"  %>
			<%= link_to 'Agregar Exámen de Laboratorio', new_sales_path(name: ClinicArea.find(4).name, id_authorization: @authorization.id), class: "list-group-item"  %>
			<%= link_to 'Agregar Exámen de Rayos X', new_sales_path(name: ClinicArea.find(5).name, id_authorization: @authorization.id), class: "list-group-item" %>
			<%= link_to 'Agregar Ecografía', new_sales_path(name: ClinicArea.find(6).name, id_authorization: @authorization.id), class: "list-group-item"  %>
			<%= link_to 'Agregar Tomografía', new_sales_path(name: ClinicArea.find(7).name, id_authorization: @authorization.id), class: "list-group-item"  %>
			<%= link_to 'Agregar procedimiento', new_sales_path(name: ClinicArea.find(3).name, id_authorization: @authorization.id), class: "list-group-item"  %>
			<%= link_to 'Agregar Procedimiento quirúrgico', new_sales_path(name: ClinicArea.find(1).name, id_authorization: @authorization.id), class: "list-group-item"  %>
			<%= link_to 'Agregar Productos Farmacéuticos', new_pharmacy_path(id_authorization: @authorization.id), class: "list-group-item"  %>
			<%= link_to 'Agregar Consulta', new_coverage_path(id: @authorization.id), class: "list-group-item"  %>
		</div>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<div class="list-group">
				<%= link_to 'OTROS', '#', class: "list-group-item active"  %>
				<% if @authorization.patient.is_insured %>
					<%= link_to 'Generar Factura', new_facturation_path(insured_id: @authorization.patient.insured.id, authorization_id: @authorization.id), class: "list-group-item"  %>				
					<% if @authorization.pay_documents.exists? %>
					  	<%= link_to '', '#', class: "list-group-item"%>
						<% @authorization.pay_documents.each do |p| %>					    
							<%= link_to 'Factura '+ p.code, ready_principal_facturation_path(pay_document_id: p.id), role: 'menuitem', tabindex: '-1', class: "list-group-item" %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	</div>
	<div class="col-md-7">
	<div class="jumbotron">
	<div class="container">
		<%= form_tag(update_info_authorization_path, method: 'post', role: 'form') do %>
			<div class="form-group">
				<%= label_tag :name, 'Perteneciente a' %>
				<%= to_name_i(@authorization.patient) %>
			</div>
			<div class="form-group">
			<%= label_tag :insurance, 'Nombre de Aseguradora' %>
			<%= @authorization.patient.insured.insurance.name %>
			</div>
			<div class="form-group">
			<%= label_tag :date, 'Fecha de la prestación' %>
			<%= @authorization.date %>
			</div>	
			<div class="form-group">
				<%= label_tag :coverage, 'Tipo de cobertura' %>
				<%= @authorization.coverage.name %>
			</div>
			<div class="form-group">
				<%= label_tag :cop_fijo, 'Copago fijo' %>
				<%= @authorization.coverage.cop_fijo%>
			</div>
			<div class="form-group">
			<%= label_tag :cop_var, 'Porcentaje de cobertura' %>
			<%= @authorization.coverage.cop_var %> %
			</div>
			<%= hidden_field_tag :id, @authorization.id %>
			<div class="form-group">
			<%= label_tag :status_id, 'Estado de la prestación ' %>
			<%= select_tag :status_id, options_from_collection_for_select(@statuses, :id, :name), {prompt: 'Seleccione estado', class: 'form-control'} %>
			</div>
			<div class="form-group">
			<%= label_tag :doctor_id, 'Doctor encargado ' %>
			<%= select_tag :doctor_id, options_for_select(@doctors,@authorization.doctor_id), {prompt: 'Seleccione un doctor', class: 'form-control'} %>
			</div>
			<div class="form-group">
			<%= label_tag :has_record, '¿Tiene entradas anteriores?' %>
			<% if @authorization.has_record %>
				Sí
			<% else %>
				<%= check_box_tag :has_record %>
			<% end %>			
			</div>

			<div class="form-group">
			<%= label_tag :consultations_quantity, 'Cantidad de Consultas' %>
			<%= number_field_tag :consultations_quantity, @authorization.consultations_quantity, class: 'form-control' %>
			</div>
			<div class="form-group">
			<%= label_tag :symptoms, 'Síntomas' %>
			<%= text_area_tag :symptoms, @authorization.symptoms, size: "24x6", class: 'form-control' %>
			</div>
			<div class="form-group">
			<%= label_tag :first_diagnostic, 'Diagnóstico 1' %>
			<%= select_tag :first_diagnostic, options_for_select(@diagnostic_types,@authorization.first_diagnostic), {prompt: 'Seleccione el diagnóstico', class: 'form-control'} %>
			</div>
			<div class="form-group">
			<%= label_tag :second_diagnostic, 'Diagnóstico 1' %>
			<%= select_tag :second_diagnostic, options_for_select(@diagnostic_types,@authorization.second_diagnostic), {prompt: 'Seleccione el diagnóstico', class: 'form-control'} %>
			</div>
			<div class="form-group">
			<%= label_tag :third_diagnostic, 'Diagnóstico 1' %>
			<%= select_tag :third_diagnostic, options_for_select(@diagnostic_types,@authorization.third_diagnostic), {prompt: 'Seleccione el diagnóstico', class: 'form-control'} %>
			</div>

			
			</div>
			<% if (@authorization.patient.insured.insurance.id == 3) or (@authorization.patient.insured.insurance.id == 8) or  (@authorization.patient.insured.insurance.id == 13) %>

			<% end %>
				<h4>Sólo si es de transeferencia : </h4>
				<div class="form-group">
					<%= label_tag :ruc_transference, 'Ruc de Ipress de transferencia' %>
					<%= text_field_tag :ruc_transference, @authorization.ruc_transference, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= label_tag :date_transference, 'Fecha de la transferencia' %>
					<%= date_field_tag :date_transference, @authorization.date_transference, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= label_tag :time_transference, 'Hora de la transferencia' %>
					<%= select_time @authorization.time_transference, class: 'form-control' %>
					 
				</div>

			<%if @authorization.coverage.sub_coverage_type.coverage_type.code == '5' %>
				<h4>Sólo si es hospitalización : </h4>

				<div class="form-group">
					<%= label_tag :hospitalization_type_id, 'Tipo de hospitalización' %>
					<%= select_tag :hospitalization_type_id, options_for_select(@hospitalization_types, @authorization.hospitalization_type_id), {prompt: 'Seleccione el tipo', class: 'form-control'} %>
				</div>
				<div class="form-group">
					<%= label_tag :date_input, 'Entrada de la hospitalización' %>
					<%= date_field_tag :date_input, @authorization.date_intput, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= label_tag :hospitalization_output_type_id, 'Tipo de salida hospitalización' %>
					<%= select_tag :hospitalization_output_type_id, options_for_select(@hospitalization_output_types, @authorization.hospitalization_output_type_id), {prompt: 'Seleccione el tipo', class: 'form-control'} %>
				</div>
				<div class="form-group">
					<%= label_tag :date_output, 'Salida de la hospitalización	' %>
					<%= date_field_tag :date_output, @authorization.date_output, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= label_tag :hospitalization_days, 'Cantidad de Días en hospitalización' %>
					<%= number_field_tag :hospitalization_days, @authorization.hospitalization_days, class: 'form-control' %>
				</div>
			<% end %>

			<div class="form-group">
			<%= submit_tag 'Guardar cambios', class: "btn btn-default" %>	
			</div>	
		<% end %>
		</div>		
		</div>
	</div>
	
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
		<% if @authorization.insured_services.exists? %>	
			<% if @authorization.insured_services.where(is_closed: true).exists? %>
				Ventas Cerradas : 
				<ul>	
				<% @authorization.insured_services.where(is_closed: true).each do |i| %>
					<% if i.purchase_coverage_service.nil? %>
						<li>Visitar <%= link_to i.clinic_area.name + ' Monto total ' + i.final_amount.to_s + ' ' + i.authorization.money.name, new_sales_ready_path(id_sale: i.id)  %></li>
					<% else %>
						<li>Visitar <%= link_to 'Costo por cobertura Monto total ' + i.final_amount.to_s + ' ' + i.authorization.money.name, ready_coverage_path(id: i.id)  %></li>
					<% end %>
				<% end %>
				</ul>
			<% end %>
			<% if @authorization.insured_services.where(is_closed: false, is_closed: nil).exists? %>
				Ventas Abiertas : (Cerrar urgente)
				<ul>	
				<% @authorization.insured_services.where(is_closed: false, is_closed: nil).each do |i| %>
					<% if i.purchase_coverage_service.nil? %>
					<% if i.purchase_insured_services.exists? %>
						<li>Visitar para cerrar <%= link_to 'Abierta en '+ i.clinic_area.name, new_sales_ready_path(id_sale: i.id) %></li>
					<% end %>
					<% else %>
						<li>Visitar para cerrar <%= link_to 'Abierta en Consultas', ready_coverage_path(id: i.id) %></li>
					<% end %>
				<% end %>
				</ul>
			<% end %>
		<% else %>
			No hay servicios ni productos que mostrar.
		<% end %>
		</div>
		<div class="col-md-4">
		<% if @authorization.insured_pharmacies.exists? %>	
			<% if @authorization.insured_pharmacies.where(is_closed: true).exists? %>
				Ventas Cerradas : 
				<ul>	
				<% @authorization.insured_pharmacies.where(is_closed: true).each do |i| %>
					<li>Visitar <%= link_to 'Monto total ' + ' ' + i.final_amount.to_s + i.authorization.money.name, new_pharmacy_ready_path(id_pharm: i.id)  %></li>
				<% end %>
				</ul>
			<% end %>
			<% if @authorization.insured_pharmacies.where(is_closed: false, is_closed: nil).exists? %>
				Ventas Abiertas : (Cerrar urgente)
				<ul>	
				<% @authorization.insured_pharmacies.where(is_closed: false, is_closed: nil).each do |i| %>
					<li>Visitar para cerrar <%= link_to 'Abierta en Farmacia', new_pharmacy_ready_path(id_pharm: i.id) %></li>
				<% end %>
				</ul>
			<% end %>
		<% else %>
			No hay servicios ni productos que mostrar.
		<% end %>
		</div>
		<div class="col-md-2"></div>
	</div>