	<div class="row">
		<div class="col-md-4"></div>
		
		<div class="col-md-5">
		
		</div>	
		<div class="col-md-4"></div>		
	</div>

	<div class="row">
	<div class="col-md-5" >
	<div class="jumbotron">
			<div class="container">
				<h3 class="text-center">
				<strong>AUTORIZACIÓN :</strong> <small><%= @authorization.code %></small>
				</h3>
			</div>	
		</div>
	<div class="jumbotron">
	<div class="container">
		<div class="list-group">
		<%= link_to 'AGREGAR SERVICIOS', '#', class: "list-group-item active"  %>
		<%= link_to 'Agregar Exámen de Laboratorio', new_sales_path(name: ClinicArea.find(4).name, id_authorization: @authorization.id), class: "list-group-item"  %>
		<%= link_to 'Agregar Exámen de Rayos X', new_sales_path(name: ClinicArea.find(5).name, id_authorization: @authorization.id), class: "list-group-item" %>
		<%= link_to 'Agregar Ecografía', new_sales_path(name: ClinicArea.find(6).name, id_authorization: @authorization.id), class: "list-group-item"  %>
		<%= link_to 'Agregar Tomografía', new_sales_path(name: ClinicArea.find(7).name, id_authorization: @authorization.id), class: "list-group-item"  %>
		<%= link_to 'Agregar procedimiento', new_sales_path(name: ClinicArea.find(3).name, id_authorization: @authorization.id), class: "list-group-item"  %>
		<%= link_to 'Agregar Procedimiento quirúrgico', new_sales_path(name: ClinicArea.find(1).name, id_authorization: @authorization.id), class: "list-group-item"  %>
		<%= link_to 'Agregar Productos Farmacéuticos', new_pharmacy_path(id_authorization: @authorization.id), class: "list-group-item"  %>
		<%= link_to 'Agregar Servicio Tópico', new_sales_path(name: ClinicArea.find(2).name, id_authorization: @authorization.id), class: "list-group-item"  %>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-7">
	<div class="jumbotron">
	<div class="container">
		<%= form_tag(update_info_authorization_path, method: 'post', role: 'form') do %>
			<div class="form-group">
				<%= label_tag :name, 'Perteneciente a' %>
				<%= to_name_i(@authorization.patient) %>
			</div>
			<div class="form-group">
			<%= label_tag :insurance, 'Nombre de Aseguradora' %>
			<%= @authorization.patient.insured.insurance.name %>
			</div>
			<div class="form-group">
			<%= label_tag :date, 'Fecha de la prestación' %>
			<%= @authorization.date %>
			</div>	
			<div class="form-group">
				<%= label_tag :coverage, 'Tipo de cobertura' %>
				<%= @authorization.coverage.name %>
			</div>
			<div class="form-group">
			<%= label_tag :cop_var, 'Porcentaje de cobertura' %>
			<%= @authorization.coverage.cop_var %> %
			</div>
			<%= hidden_field_tag :id, @authorization.id %>
			<div class="form-group">
			<%= label_tag :status_id, 'Estado de la prestación ' %>
			<%= select_tag :status_id, options_from_collection_for_select(@statuses, :id, :name, 1), class: 'form-control' %>
			</div>
			<div class="form-group">
			<%= label_tag :doctor_id, 'Doctor encargado ' %>
			<%= select_tag :doctor_id, options_from_collection_for_select(@doctors, :id, 'name', @authorization.doctor_id), class: 'form-control' %>
			</div>
			<div class="form-group">
			<%= label_tag :has_record, '¿Tiene entradas anteriores?' %>
			<%= check_box_tag :has_record,{} , checked: @authorization.has_record %>
			</div>

			<div class="form-group">
			<%= label_tag :consultations_quantity, 'Cantidad de Consultas' %>
			<%= number_field_tag :consultations_quantity, @authorization.consultations_quantity, class: 'form-control' %>
			</div>
			<div class="form-group">
			<%= label_tag :symptoms, 'Síntomas' %>
			<%= text_area_tag :symptoms, @authorization.symptoms, size: "24x6", class: 'form-control' %>
			</div>
			<div class="form-group">
			<%= label_tag :diagnostic_type_1, 'Diagnóstico 1' %>
			<% if Diagnostic.where(authorization: @authorization, correlative: 1 ).exists? %>
				<%= Diagnostic.where(authorization: @authorization, correlative: 1 ).last.diagnostic_type.name %>
			<% else %>
				<%= select_tag :diagnostic_type_id_1, options_for_select(@diagnostic_types), {prompt: 'Seleccione el diagnóstico', class: 'form-control'} %>
			<% end %>
			</div>
			<div class="form-group">
			<%= label_tag :diagnostic_type_2, 'Diagnóstico 2' %>
			<% if Diagnostic.where(authorization: @authorization, correlative: 2 ).exists? %>
				<%= Diagnostic.where(authorization: @authorization, correlative: 2 ).last.diagnostic_type.name %>
			<% else %>
				<%= select_tag :diagnostic_type_id_2, options_for_select(@diagnostic_types), {prompt: 'Seleccione el diagnóstico', class: 'form-control'} %>
			<% end %>
			<div class="form-group">
			<%= label_tag :diagnostic_type_3, 'Diagnóstico 3' %>
			<% if Diagnostic.where(authorization: @authorization, correlative: 3 ).exists? %>
				<%= Diagnostic.where(authorization: @authorization, correlative: 3 ).last.diagnostic_type.name %>
			<% else %>
				<%= select_tag :diagnostic_type_id_3, options_for_select(@diagnostic_types), {prompt: 'Seleccione el diagnóstico', class: 'form-control'} %>
			<% end %>
			
			</div>
			</div>
			<% if (@authorization.patient.insured.insurance.id == 3) or (@authorization.patient.insured.insurance.id == 8) or  (@authorization.patient.insured.insurance.id == 13) %>

			<% end %>
			<% if @authorization.is_transference %>
				<div class="form-group">
					<%= label_tag :ruc_transference, 'Ruc de Ipress de transferencia' %>
					<%= text_field_tag :ruc_transference, @authorization.ruc_transference, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= label_tag :date_transference, 'Fecha de la transferencia' %>
					<% if @authorization.time_transference.nil? %>
						<%= date_field_tag :date_transference, @authorization.date_transference, class: 'form-control' %>
					<% else %>
						<%= @authorization.date_transference.to_s %>
					<% end %>

				</div>
				<div class="form-group">
					<%= label_tag :time_transference, 'Hora de la transferencia' %>
					<% if @authorization.time_transference.nil? %>
						<%= time_field_tag :time_transference, @authorization.time_transference, class: 'form-control' %>
					<% else %>
						<%=  @authorization.time_transference.strftime("%H:%M").to_s %>
					<% end %>
					
				</div>
			<% else %>
				<div class="form-group">
					<%= label_tag :is_transference, '¿Pertenece a una transferencia?' %>
					<%= check_box_tag :is_transference,'1' , @authorization.is_transference %>
				</div>
			<% end %>

			<%if @authorization.coverage.sub_coverage_type.coverage_type.code == 5 %>
				<div class="form-group">
					<%= label_tag :hospitalization_type_id, 'Tipo de hospitalización' %>
					<%= select_tag :hospitalization_type_id, options_for_select(@authorization.hospitalization_types, @authorization.hospitalization_type_id), {prompt: 'Seleccione el tipo', class: 'form-control'} %>
				</div>
				<div class="form-group">
					<%= label_tag :date_input, 'Fecha de la transferencia' %>
					<%= date_field_tag :date_input, @authorization.date_input, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= label_tag :hospitalization_output_type_id, 'Tipo de salida hospitalización' %>
					<%= select_tag :hospitalization_output_type_id, options_for_select(@authorization.hospitalization_output_types, @authorization.hospitalization_output_type_id), {prompt: 'Seleccione el tipo', class: 'form-control'} %>
				</div>
				<div class="form-group">
					<%= label_tag :date_output, 'Fecha de la transferencia' %>
					<%= date_field_tag :date_output, @authorization.date_output, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= label_tag :hospitalization_days, 'Cantidad de Consultas' %>
					<%= number_field_tag :hospitalization_days, @authorization.hospitalization_days, class: 'form-control' %>
				</div>
			<% end %>

			<div class="form-group">
			<%= submit_tag 'Guardar cambios', class: "btn btn-default" %>	
			</div>	
		<% end %>
		</div>		
		</div>
	</div>
	
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
		<% if @authorization.insured_services.exists? %>	
			<% if @authorization.insured_services.where(is_closed: true).exists? %>
				Ventas Cerradas : 
				<ul>	
				<% @authorization.insured_services.where(is_closed: true).each do |i| %>
					<li>Visitar <%= link_to i.clinic_area.name + ' Monto total ' + i.final_amount.to_s + ' ' + i.authorization.money.name, new_sales_ready_path(id_sale: i.id)  %></li>
				<% end %>
				</ul>
			<% end %>
			<% if @authorization.insured_services.where(is_closed: false, is_closed: nil).exists? %>
				Ventas Abiertas : (Cerrar urgente)
				<ul>	
				<% @authorization.insured_services.where(is_closed: false, is_closed: nil).each do |i| %>
					<li>Visitar para cerrar <%= link_to 'Abierta en '+ i.clinic_area.name, new_sales_ready_path(id_sale: i.id) %></li>
				<% end %>
				</ul>
			<% end %>
		<% else %>
			No hay servicios ni productos que mostrar.
		<% end %>
		</div>
		<div class="col-md-4">
		<% if @authorization.insured_pharmacies.exists? %>	
			<% if @authorization.insured_pharmacies.where(is_closed: true).exists? %>
				Ventas Cerradas : 
				<ul>	
				<% @authorization.insured_pharmacies.where(is_closed: true).each do |i| %>
					<li>Visitar <%= link_to 'Monto total ' + ' ' + i.final_amount.to_s + i.authorization.money.name, new_pharmacy_ready_path(id_pharm: i.id)  %></li>
				<% end %>
				</ul>
			<% end %>
			<% if @authorization.insured_pharmacies.where(is_closed: false, is_closed: nil).exists? %>
				Ventas Abiertas : (Cerrar urgente)
				<ul>	
				<% @authorization.insured_pharmacies.where(is_closed: false, is_closed: nil).each do |i| %>
					<li>Visitar para cerrar <%= link_to 'Abierta en Farmacia', new_pharmacy_ready_path(id_pharm: i.id) %></li>
				<% end %>
				</ul>
			<% end %>
		<% else %>
			No hay servicios ni productos que mostrar.
		<% end %>
		</div>
		<div class="col-md-2"></div>
	</div>