<!DOCTYPE html>
<html>
<head>
  <title>Csl</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <!-- Latest compiled and minified JavaScript -->
  <%= favicon_link_tag 'cruz.jpg' %>

<script src="http://malsup.github.com/jquery.form.js"></script>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'CSL System | ', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if is_loged? %>
      <ul class="nav navbar-nav">
        <% if can? :read, Employee %>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
            Administración <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Información', administration_path %></li>
            <li><%= link_to 'Estadísticas', stadistics_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Personal', administration_path %></li>
            <li><%= link_to 'Servicios', show_export_path %></li>
          </ul>
        </li>
        <% end %>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
          	Pacientes <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Lista de pacientes', patients_path(page: 1) %></li>
            <li><%= link_to 'Lista de autorizaciones', authorizations_path(page: 1) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Ingresar monsanto', form_monsant_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
          	Caja <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Lista de ventas servicios', cash_path(page: 1,type: 'servicios') %></li>
            <li><%= link_to 'Lista de ventas farmacia', cash_path(page: 1,type: 'farmacia') %></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
          	Empleados <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Chat de CSL 1.0.2', chat_path %></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul> 
        </li>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
          	Farmacia <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Lista de liquidaciones', pharmacies_path(page: 1) %></li>
            <li><%= link_to 'Imprimir todo', print_all_path(page: 1) %></li>
            <li><%= link_to 'vista de impresion'%></li>
            <li><%= link_to 'Verificar por Fecha', verify_by_date_path(page: 1) %></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <% if can? :manage, PayDocument %>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
          	Facturación <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Lista de autorizaciones a Facturar', authorizations_fact_path(page: 1) %></li>
            <li><%= link_to 'Crear lotes TEDEF v. 4.0', create_lot_path(page: '1') if can? :manage, PayDocumentGroup %></li>
            <li><%= link_to 'Lista de Facturas Generadas', list_facturation_path(page: 1) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Exportar excel de proveedores', facturation_providers_path if can? :manage, PayDocumentGroup %></li>
            <li><%= link_to 'Exportar facturas a sistema contable', form_accounting_path if can? :manage, PayDocumentGroup %></li>
            <li><%= link_to 'Administrar servicios', services_path(page: 1) if can? :manage, PayDocumentGroup %></li>
            <li><%= link_to 'Administrar doctores', doctors_path if can? :manage, PayDocumentGroup %></li>
          </ul>
        </li>
      </ul>
      <% end %>
      <%= form_tag(patients_path(page: 1), method: 'get', role: 'search', class: 'navbar-form navbar-left') do %>
        <div class="form-group">
          <%= text_field_tag :dni, '', class: 'form-control', placeholder: 'Buscar por dni' %>
        </div>
        <%= submit_tag 'Buscar', class: 'btn btn-default' %>
      <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
            Ayuda <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Sobre la aplicación', help_path %></li>
            <li><%= link_to 'Preguntas frecuentes', faq_path %></li>
          </ul>
        </li>
        <li class="dropdown">
        <% if is_loged? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_employee.name %> <span class="glyphicon glyphicon-lock"></span></a>
        <% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Iniciar Sesión <span class="glyphicon glyphicon-lock"></span></a>
        <% end %>
          
          <ul class="dropdown-menu" role="menu">
            <% if is_loged? %>
              <li><%= link_to 'Cerrar sesión', logout_path %></li>
            <% else %>
              <li><%= link_to 'Ingresar al Sistema', security_path %></li>
            <% end %>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><%= link_to 'Mi información', '#' %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="container">
		<div class="row row-offcanvas row-offcanvas-right">
			<%= yield %>
		</div>		
	</div>
</body>
</html>
